@media print,
(max-width: 767px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size: 14px;
        --font_size_title: 32px;
        --font_size_title_small: 26px;
    }


    .block
    {
        margin-bottom: 48px;
    }


    .cont
    {
        padding: 0 20px;
    }



    /*--------------
        Fancybox
    --------------*/
    .fancybox__slide
    {
        padding: 20px;
    }


    .fancybox__content > .f-button.is-close-btn,
    .is-compact .fancybox__content > .f-button.is-close-btn
    {
        top: 24px;
        right: 24px;

        --f-button-width: 24px;
        --f-button-height: 24px;
        --f-button-svg-width: 24px;
        --f-button-svg-height: 24px;
    }



    /*----------------
        Pagination
    ----------------*/
    .pagination
    {
        padding: 16px 0;
    }


    .pagination a,
    .pagination .sep
    {
        font-size: var(--font_size);
    }



    /*---------------
        Accordion
    ---------------*/
    .accordion_item .head
    {
        padding: 12px 52px 12px 0;
    }


    .accordion_item .head .title
    {
        font-size: 18px;
    }


    .accordion_item .head .icon
    {
        width: 24px;
        height: 24px;
    }



    /*-----------------
        Mob. header
    -----------------*/
    .mob_header .cont
    {
        min-height: 68px;
    }


    .mob_header .logo img
    {
        height: 32px;
    }


    .mob_header .langs .btn
    {
        font-size: 16px;
    }


    .mob_header .langs .btn .icon
    {
        top: 0;

        width: 11px;
        height: 7px;
    }


    .mob_header .mob_menu_btn
    {
        width: 26px;
        height: 26px;
        margin-left: 32px;
    }

    .mob_header .mob_menu_btn .icon
    {
        width: 26px;
        height: 26px;
    }



    /*---------------
        Mob. menu
    ---------------*/
    .mob_menu
    {
        top: 68px;
    }


    .mob_menu .menu
    {
        font-size: 20px;

        width: 100%;
    }


    .mob_menu .links
    {
        display: flex;
        align-content: flex-start;
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        width: 100%;
        margin-top: 28px;
        padding: 0;

        gap: 20px;
    }


    .mob_menu .contacts
    {
        font-size: 12px;

        margin-top: 24px;
    }


    .mob_menu .order_btn
    {
        font-size: 14px;

        width: 191px;
        height: 32px;
        margin-top: 24px;
    }



    /*---------------
        Page head
    ---------------*/
    .page_head
    {
        padding-top: 20px;
    }


    .page_head .back
    {
        display: none;
    }


    .page_title
    {
        gap: 0;
    }


    .page_title .span1
    {
        margin-right: 0;
        margin-left: 148px;
    }


    .page_title .span2
    {
        margin-left: 60px;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head,
    .block_head.small_m,
    .block_head.middle_m,
    .block_head.big_m
    {
        margin-bottom: 24px;
    }


    .block_head .sub_title
    {
        font-size: 21px;

        width: 360px;
        margin-top: 20px;
    }


    .block_head .all_link
    {
        margin-top: 16px;
        margin-left: auto;
    }


    .block_head .all_link a
    {
        font-size: var(--font_size);
        font-weight: 400;

        width: 224px;
        padding: 7px;

        border-width: 1px;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block
    {
        font-size: 16px;
    }


    .text_block > *
    {
        margin-bottom: 20px;
    }



    /*------------------
        Form elements
    ------------------*/
    .form .columns > *
    {
        width: calc(100% - var(--form_columns_offset));
    }

    .form .columns > *.width1of4
    {
        width: calc(50% - var(--form_columns_offset));
    }


    .form .submit .agree
    {
        width: 100%;
        margin-bottom: 12px;
    }


    .form .submit_btn
    {
        font-size: 16px;

        width: 100%;
        height: 44px;

        border-width: 1px;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section
    {
        padding-top: 16px;
        padding-bottom: 49px;

        border-radius: 0 0 30px 30px;
    }


    .first_section .img
    {
        left: 8px;

        width: 220px;
    }


    .first_section .pluses
    {
        flex-direction: column;
        order: 3;

        width: 100%;
        margin-top: 101px;
        margin-bottom: 0;
        padding-left: 84px;
    }


    .first_section .pluses .item
    {
        text-align: left;
    }


    .first_section .pluses .item:nth-child(1),
    .first_section .pluses .item:nth-child(2),
    .first_section .pluses .item:nth-child(3)
    {
        width: 216px;
    }


    .first_section .title
    {
        font-size: 36px;
    }


    .first_section .title .order_btn
    {
        display: flex;
    }


    .first_section .desc
    {
        font-size: var(--font_size);

        top: 244px;
        bottom: auto;
        left: 20px;

        width: 268px;
    }


    .first_section .desc .order_btn
    {
        display: none;
    }



    /*----------------
        Advantages
    ----------------*/
    .advantages
    {
        padding: 24px 0;

        border-radius: 30px;
    }


    .advantages .block_head
    {
        padding-bottom: 12px;
    }


    .advantages .row
    {
        margin-bottom: -24px;
        margin-left: 0;
    }


    .advantages .row > *
    {
        width: 100%;
        margin-bottom: 24px;
        margin-left: 0;
    }


    .advantages .item
    {
        gap: 8px;
    }


    .advantages .item .name
    {
        font-size: 21px;
        line-height: 120%;
    }


    .advantages .item .desc
    {
        font-size: var(--font_size);
    }


    .advantages .item .link
    {
        margin-top: 4px;
    }


    .advantages .item .link a
    {
        font-size: var(--font_size);

        padding: 6px 23px;
    }



    /*----------------
        About info
    ----------------*/
    .about_info
    {
        margin-top: -16px;
    }


    .about_info .cont
    {
        padding: 0;
    }


    .about_info .grid > * + *
    {
        margin-top: 10px;
    }


    .about_info .data
    {
        padding-top: 16px;
        padding-bottom: 46px;

        border-radius: 16px;
    }


    .about_info .data .title
    {
        width: 260px;
    }


    .about_info .data .desc
    {
        font-size: var(--font_size);

        width: 260px;
    }


    .about_info .data .bg
    {
        display: none;
    }

    .about_info .data .mob_bg
    {
        display: block;
    }



    .about_info .link
    {
        min-height: 112px;
        padding: 20px;

        border-radius: 16px;
    }


    .about_info .link .name
    {
        font-size: 22px;
        line-height: 120%;

        margin-bottom: 20px;
    }


    .about_info .link .logos img
    {
        max-height: 32px;
    }


    .about_info .link .btn
    {
        position: relative;
        right: 0;
        bottom: 0;

        width: 180px;
        max-width: 100%;
        margin-top: 16px;
        padding: 8px 32px;
    }



    /*-------------
        Stories
    -------------*/
    .stories .tabs .btn
    {
        height: 64px;
        padding: 16px 20px;
    }


    .stories .grid
    {
        width: calc(100% + 40px);
        margin-right: -20px;
        margin-left: -20px;

        gap: 10px;
    }


    .stories .grid .item
    {
        border-radius: 16px;
    }


    .stories .grid .item1
    {
        padding: 24px 20px;

        gap: 16px;
    }


    .stories .grid .item1 .title
    {
        font-size: 20px;
    }


    .stories .grid .item1 .desc
    {
        font-size: var(--font_size);

        width: 343px;
    }


    .stories .grid .item1 .link a
    {
        width: 180px;
        margin-left: auto;

        border-width: 1px;
    }


    .stories .grid .item2
    {
        width: 188px;
        padding: 20px;
    }


    .stories .grid .item3
    {
        width: calc(100% - 198px);
        height: 160px;
    }


    .stories .grid .item4
    {
        width: 100%;
        height: 160px;
    }


    .stories .grid .item5
    {
        padding: 20px;
    }


    .stories .grid .item6
    {
        width: 100%;
        padding: 20px;

        gap: 16px;
    }


    .stories .grid .item6 .title
    {
        font-size: 20px;
    }


    .stories .grid .item6 .desc
    {
        font-size: var(--font_size);

        width: 343px;
    }


    .stories .grid .item6 .link
    {
        margin-top: 0;
    }


    .stories .grid .item6 .link a
    {
        font-size: var(--font_size);

        width: 180px;
        margin-left: auto;
        padding: 8px 15px;

        border-width: 1px;
    }


    .stories .grid .quote .text
    {
        font-size: 20px;

        width: 392px;
    }


    .stories .grid .quote .author
    {
        font-size: 18px;
    }


    .stories .grid .item5 .link a
    {
        font-size: var(--font_size);

        width: 180px;
        margin-left: auto;
        padding: 8px 15px;

        border-width: 1px;
    }



    /*--------------
        Services
    --------------*/
    .services:not(.no_pad)
    {
        padding: 0;
    }


    .services .head
    {
        margin-bottom: 10px;
        padding: 16px 0;

        border-radius: 16px;
    }


    .services .head .block_head .title span
    {
        margin-top: -4px;
        margin-left: 64px;
    }


    .services .head .block_head .title.small span
    {
        margin-left: 64px;
    }


    .services .head .bg
    {
        right: -40px;

        width: 300px;
    }


    .services .list
    {
        padding: 20px 0;

        border-radius: 16px;
    }


    .services .line
    {
        margin-top: 16px;
    }


    .services .service
    {
        padding-left: 44px;
    }


    .services .service .number
    {
        top: 4px;
    }


    .services .service .name
    {
        width: 100%;
        margin-top: 0;
        padding-right: 40px;
    }


    .services .service .arr
    {
        top: 5px;
    }


    .services .service .col_right
    {
        width: 100%;
        margin-top: 12px;

        gap: 24px;
    }


    .services .service .desc
    {
        padding-right: 0;
    }


    .services .service .logos img
    {
        max-height: 20px;
    }



    /*---------------
        Solutions
    ---------------*/
    .solutions .list
    {
        width: calc(100% + 40px);
        margin-right: -20px;
        margin-left: -20px;
    }


    .solutions .solution + .solution
    {
        margin-top: 10px;
    }


    .solutions .solution .image
    {
        height: 268px;
        padding: 24px 20px;
    }


    .solutions .solution .data
    {
        padding: 24px 20px;

        gap: 24px;
    }


    .solutions .solution .items
    {
        padding-left: 45px;

        gap: 29px;
    }


    .solutions .solution .item
    {
        width: 100%;
    }


    .solutions .solution .items .link a
    {
        height: 32px;
    }


    .solutions .solution .btn
    {
        font-size: var(--font_size);

        width: 248px;
        height: 44px;
        margin-left: auto;
    }



    /*----------------
        Order form
    ----------------*/
    .order_form .block_head.margin
    {
        margin-bottom: 40px;
    }


    .order_form .block_head
    {
        margin-bottom: 20px;
    }


    .order_form .block_head .title span
    {
        margin-top: -4px;
        margin-left: 64px;
    }


    .order_form .links
    {
        margin-bottom: 10px;
    }


    .order_form .links .items
    {
        padding: 8px 10px;

        gap: 8px;
    }


    .order_form .links .items > *
    {
        width: auto;
    }


    .order_form .links .items a
    {
        padding: 6px 12px;
    }


    .order_form .form_wrap
    {
        width: calc(100% + 40px);
        margin-right: -20px;
        margin-left: -20px;
        padding: 24px 20px;
    }



    /*------------------
        Terms of use
    ------------------*/
    .terms_of_use .page_title span
    {
        margin-left: 169px;
    }


    .terms_of_use .contacts
    {
        font-size: 18px;

        gap: 20px;
    }


    .terms_of_use .section + .section
    {
        margin-top: 48px;
    }


    .terms_of_use .bg
    {
        top: -48px;

        width: 300px;
        margin-right: -440px;
    }



    /*----------------
        Error info
    ----------------*/
    .error_info .cont
    {
        padding-top: 67px;
        padding-bottom: 160px;
    }


    .error_info .title
    {
        width: 372px;

        gap: 8px;
    }


    .error_info .title > *:nth-child(2)
    {
        padding-left: 52px;
    }


    .error_info .title .link
    {
        height: 52px;
        margin-top: 32px;
        margin-right: auto;
        margin-left: auto;
    }


    .error_info .code
    {
        top: 32px;

        margin-right: -220px;
    }


    .error_info .code .label
    {
        font-size: 16px;
    }


    .error_info .code .val
    {
        font-size: 40px;

        margin-top: 0;
    }


    .error_info .bg
    {
        top: 0;
        left: 100px;

        width: 300px;
    }



    /*-------------
        Stories
    -------------*/
    .stories .head
    {
        padding: 16px 0;
    }


    .stories .head .count
    {
        font-size: 12px;
    }


    .stories .head .count br
    {
        display: block;
    }


    .stories .head .cooperation_btn
    {
        font-size: 12px;

        width: 224px;
        height: 32px;
    }


    .stories .list
    {
        padding: 40px 0;
    }


    .stories .list .item
    {
        padding: 16px;

        border-radius: 20px;

        gap: 10px;
    }


    .stories .list .item .pre_title
    {
        font-size: 12px;
    }


    .stories .list .item .name
    {
        font-size: 16px;

        margin-bottom: 23px;
    }



    /*----------------
        Story info
    ----------------*/
    .story_info .head
    {
        border-radius: 0 0 30px 30px;
    }


    .story_info .data
    {
        padding: 28px 0;

        border-radius: 30px;
    }


    .story_info .data .logo
    {
        width: 156px;
        height: 34px;
    }


    .story_info .data .features
    {
        width: calc(100% - 176px);
    }


    .story_info .data .features > *,
    .story_info .data .features > *.fixed_w
    {
        width: 100%;
        padding: 5px 15px 4px 16px;
    }


    .story_info .data .title
    {
        font-size: var(--font_size_title_small);

        margin-top: 24px;
        padding-bottom: 16px;

        border-width: 1px;
    }


    .story_info .quote > div
    {
        width: 100%;
    }


    .story_info .quote .icon
    {
        width: 29px;
        margin-bottom: 12px;
    }


    .story_info .quote .author
    {
        margin-top: 12px;
    }


    .story_info .quote .image
    {
        width: 100%;
        margin: 24px 0 0;

        border-radius: 20px;
    }



    .story_info .info
    {
        margin-top: 40px;
    }


    .story_info .info .row
    {
        margin-bottom: -28px;
        margin-left: 0;
    }


    .story_info .info .row > *
    {
        width: 100%;
        margin-bottom: 28px;
        margin-left: 0;
    }


    .story_info .info .item
    {
        gap: 10px;
    }



    .story_info .download
    {
        margin-top: 28px;
    }


    .story_info .download a
    {
        width: 100%;
    }



    /*--------------------
        Vacancies head
    --------------------*/
    .vacancies_head
    {
        min-height: 375px;
        margin-bottom: 48px;

        border-radius: 0 0 32px 32px;
    }


    .vacancies_head .text
    {
        width: 100%;
        margin-bottom: 10px;
        padding: 19px 17px 18px 16px;

        border-radius: 10px;
    }


    .vacancies_head .accredited
    {
        width: 100%;
        padding: 19px 17px 18px 16px;

        border-radius: 10px;
    }


    .vacancies_head .accredited .title
    {
        width: 232px;
    }


    .vacancies_head .bg
    {
        object-position: 100% 50%;
    }



    /*---------------
        Join team
    ---------------*/
    .join_team .block_head .title span
    {
        margin-left: 177px;
    }


    .join_team .row > *
    {
        width: calc(50% - 10px);
    }


    .join_team .row > *.empty
    {
        display: none;
    }



    /*---------------
        Vacancies
    ---------------*/
    .vacancies .categories
    {
        margin-bottom: 24px;

        gap: 10px;
    }


    .vacancies .categories .btn
    {
        font-size: var(--font_size);

        padding: 3px 15px;
    }



    .vacancies .list
    {
        gap: 8px;
    }


    .vacancies .vacancy .info
    {
        width: 100%;
    }


    .vacancies .vacancy .name
    {
        font-size: 20px;
    }


    .vacancies .vacancy .tags > *
    {
        font-size: var(--font_size);
    }


    .vacancies .vacancy .btns
    {
        margin-top: 16px;
        margin-left: auto;
    }



    .vacancies .all_link .icon
    {
        top: 0;
    }



    /*------------
        Career
    ------------*/
    .career
    {
        margin-bottom: 48px;
    }


    .career .empty .title
    {
        font-size: 20px;
    }


    .career .empty .link a
    {
        font-size: var(--font_size);

        padding: 8px 32px;
    }


    .career .empty .socials
    {
        margin-left: 12px;

        gap: 12px;
    }


    .career .empty .socials .icon
    {
        width: 33px;
        height: 33px;
    }



    .career .bg
    {
        top: -60px;

        width: 180px;
        margin-right: -280px;
    }



    /*------------------
        Vacancy info
    ------------------*/
    .vacancy_info .data .info
    {
        width: 100%;
    }


    .vacancy_info .data .title
    {
        font-size: 18px;
    }


    .vacancy_info .data .items
    {
        gap: 8px;
    }


    .vacancy_info .data .btns
    {
        margin-top: 20px;
        margin-left: auto;
    }



    .vacancy_info .row
    {
        margin-bottom: -40px;
        margin-left: 0;
    }


    .vacancy_info .row > *,
    .vacancy_info .row > *.big
    {
        width: 100%;
        margin-bottom: 40px;
        margin-left: 0;
    }


    .vacancy_info .item .items
    {
        font-size: 16px;
    }


    .vacancy_info .item .items .arrows
    {
        top: 6px;
    }



    /*-------------------
        Contacts info
    -------------------*/
    .contacts_info .map_wrap #map
    {
        height: 397px;
        margin-bottom: 20px;

        border-radius: 30px;
    }


    .contacts_info .map_wrap .data
    {
        padding: 19px 49px 20px 61px;

        border-radius: 30px;

        gap: 16px;
    }


    .contacts_info .map_wrap .company
    {
        font-size: 20px;
    }


    .contacts_info .map_wrap .label
    {
        font-size: var(--font_size);
    }


    .contacts_info .map_wrap .val
    {
        font-size: 18px;
    }



    .contacts_info .info .row
    {
        margin-bottom: -24px;
        margin-left: 0;
    }


    .contacts_info .info .row > *
    {
        width: 100%;
        margin-bottom: 24px;
        margin-left: 0;
    }


    .contacts_info .info .item
    {
        padding: 0 29px 0 41px;
    }


    .contacts_info .info .name
    {
        font-size: 20px;

        margin-bottom: 12px;
    }


    .contacts_info .info .contacts
    {
        gap: 16px;
    }


    .contacts_info .info .label
    {
        font-size: var(--font_size);
    }


    .contacts_info .info .val
    {
        font-size: 18px;
    }



    /*--------------
        Feedback
    --------------*/
    .feedback
    {
        padding: 40px 32px;

        border-radius: 30px;
    }


    .feedback .form .columns > *.width1of4
    {
        width: calc(100% - var(--form_columns_offset));
    }


    .feedback .bg
    {
        display: none;
    }



    /*------------------
        Service head
    ------------------*/
    .service_head .page_head
    {
        margin-bottom: 60px;
    }


    .service_head .data .title
    {
        font-size: 18px;

        width: 100%;
    }


    .service_head .data .link
    {
        margin-top: 16px;
        margin-left: 0;
    }


    .service_head .data .link a
    {
        padding: 12px 48px;
    }


    .service_head .info
    {
        align-content: stretch;
        align-items: stretch;

        margin-top: 24px;
        padding: 0;

        border-radius: 0;
        background: none;

                backdrop-filter: none;
        -webkit-backdrop-filter: none;
    }


    .service_head .info .item
    {
        width: 100%;
    }


    .service_head .info .item + .item
    {
        margin-top: 16px;
    }



    /*--------------------
        Service brands
    --------------------*/
    .service_brands .block_head .title span
    {
        margin-left: 92px;
    }


    .service_brands .row
    {
        margin-bottom: -10px;
        margin-left: -10px;
    }


    .service_brands .row > *
    {
        width: calc(33.333% - 10px);
        margin-bottom: 10px;
        margin-left: 10px;
    }


    .service_brands .item
    {
        padding: 24px;
    }



    /*------------------------
        Service principles
    ------------------------*/
    .service_principles .block_head .title span
    {
        margin-left: 92px;
    }



    /*----------------------
        Service projects
    ----------------------*/
    .service_projects .block_head .title span
    {
        margin-left: 92px;
    }


    .service_projects .project .logo
    {
        width: 122px;
        height: 30px;
    }


    .service_projects .project .image
    {
        margin-top: 12px;
        padding: 16px;

        gap: 16px;
    }


    .service_projects .project .tags .items
    {
        gap: 8px;
    }


    .service_projects .project .tags .items > *
    {
        padding: 3px 15px;
    }


    .service_projects .project .btns
    {
        margin-top: 12px;
    }


    .service_projects .all_link a
    {
        font-size: var(--font_size);

        width: 280px;
        padding: 12px;
    }



    /*------------------
        Technologies
    ------------------*/
    .technologies .block_head
    {
        margin-bottom: 24px;
    }


    .technologies .block_head .title span
    {
        margin-left: 92px;
    }


    .technologies .row
    {
        gap: 10px;
    }


    .technologies .row > *
    {
        font-size: var(--font_size);

        padding: 4px 14px;
    }



    /*------------
        Footer
    ------------*/
    footer
    {
        position: relative;

        padding: 24px 0;
    }


    footer .logo img
    {
        height: 30px;
    }


    footer .col
    {
        width: 100%;

        gap: 16px;
    }

    footer .col + .col
    {
        margin-top: 16px;
    }


    footer .links
    {
        height: auto !important;
    }


    footer .links .title
    {
        font-size: 16px;
    }


    footer .links .items
    {
        display: none;
    }


    footer .contacts
    {
        margin-top: 28px;
        padding-bottom: 14px;
    }


    footer .socials
    {
        position: absolute;
        top: 25px;
        right: 20px;

        gap: 16px;
    }


    footer .socials .icon
    {
        width: 28px;
        height: 28px;
    }


    footer .copyright
    {
        order: 2;

        opacity: .5;
    }



    /*-----------
        PopUp
    -----------*/
    .modal
    {
        padding: 40px 24px;

        border-radius: 32px;
    }


    .modal_title
    {
        font-size: 32px;
    }


    .modal .form
    {
        margin-top: 40px;
    }
}
