@media print,
(max-width: 1023px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size: 14px;
        --font_size_title: 40px;
        --font_size_title_small: 32px;
    }


    .cont
    {
        padding: 0 32px;
    }



    /*--------------
        Fancybox
    --------------*/
    .fancybox__slide
    {
        padding: 24px;
    }


    .fancybox__content > .f-button.is-close-btn,
    .is-compact .fancybox__content > .f-button.is-close-btn
    {
        top: 32px;
        right: 32px;

        --f-button-width: 28px;
        --f-button-height: 28px;
        --f-button-svg-width: 28px;
        --f-button-svg-height: 28px;
    }



    /*---------------
        Animation
    ---------------*/
    .animate.delay,
    .animate.delay2,
    .animate.delay3,
    .animate.delay4
    {
        transition-delay: .1s;
    }



    /*----------------
        Pagination
    ----------------*/
    .pagination
    {
        padding: 20px 0;
    }


    .pagination .cont
    {
        gap: 16px;
    }


    .pagination a,
    .pagination .sep
    {
        font-size: 16px;
    }


    .pagination .prev
    {
        margin-right: 12px;
    }

    .pagination .next
    {
        margin-left: 12px;
    }


    .pagination .prev .icon,
    .pagination .next .icon
    {
        width: 10px;
        height: 14px;
    }



    /*---------------
        Page head
    ---------------*/
    .page_head,
    .page_head.middle_m,
    .page_head.big_m
    {
        margin-bottom: 48px;
    }


    .page_head .cont
    {
        gap: 24px;
    }


    .breadcrumbs
    {
        font-size: var(--font_size);
    }


    .breadcrumbs .sep
    {
        margin: 0 8px;
    }


    .page_title
    {
        font-size: var(--font_size_title);
    }


    .page_title .span2
    {
        margin-left: 80px;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head
    {
        margin-bottom: 32px;
    }

    .block_head.middle_m
    {
        margin-bottom: 40px;
    }

    .block_head.big_m
    {
        margin-bottom: 48px;
    }


    .block_head .sub_title
    {
        font-size: 24px;

        width: 400px;
    }


    .block_head .all_link a
    {
        font-size: 18px;

        width: 288px;
        padding: 12px;
    }



    /*------------------
        Form elements
    ------------------*/
    .form .line
    {
        margin-bottom: 24px;
    }


    .form .file label
    {
        font-size: var(--font_size);
    }


    .form .agree
    {
        font-size: 12px;
    }


    .form .agree a
    {
        white-space: normal;
    }


    .form .submit
    {
        padding-top: 16px;
    }


    .form .submit_btn
    {
        font-size: 18px;

        height: 48px;

        border-radius: 30px;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section
    {
        margin-bottom: 10px;
        padding-top: 14px;
        padding-bottom: 75px;

        border-radius: 0 0 32px 32px;
    }


    .first_section .img
    {
        left: 0;

        width: 261px;
    }


    .first_section .pluses
    {
        margin-bottom: 57px;

        gap: 10px;
    }


    .first_section .pluses .item:nth-child(1)
    {
        width: 216px;
    }

    .first_section .pluses .item:nth-child(2)
    {
        width: 164px;
    }

    .first_section .pluses .item:nth-child(3)
    {
        width: 101px;
    }


    .first_section .pluses .val
    {
        font-size: 24px;

        margin-bottom: 4px;
    }


    .first_section .title
    {
        font-size: 48px;

        gap: 4px;
    }


    .first_section .desc
    {
        font-size: 16px;

        left: 32px;

        width: 303px;
    }



    /*----------------
        Advantages
    ----------------*/
    .advantages
    {
        padding: 24px 0 58px;

        border-radius: 32px;
    }


    .advantages .block_head
    {
        padding-bottom: 16px;
    }


    .advantages .row > *
    {
        width: calc(50% - 20px);
    }


    .advantages .item .name
    {
        font-size: 24px;
    }


    .advantages .item .desc
    {
        font-size: 16px;
    }


    .advantages .item .link a
    {
        font-size: 16px;

        padding: 7px 27px;

        border-width: 1px;
    }



    /*----------------
        About info
    ----------------*/
    .about_info
    {
        margin-top: -24px;
    }


    .about_info .grid
    {
        display: block;
    }


    .about_info .grid > * + *
    {
        margin-top: 16px;
    }


    .about_info .data
    {
        width: 100%;
        padding-bottom: 44px;
    }


    .about_info .data .title
    {
        width: 300px;
    }


    .about_info .data .desc
    {
        font-size: 16px;

        width: 300px;
    }


    .about_info .data .bg
    {
        bottom: -48px;

        width: 340px;
    }



    .about_info .link
    {
        min-height: 212px;
    }


    .about_info .link .name
    {
        font-size: 32px;
    }


    .about_info .link .logos img
    {
        max-height: 40px;
    }


    .about_info .link .btn
    {
        padding: 12px 40px;
    }



    /*-------------
        Stories
    -------------*/
    .stories .grid
    {
        gap: 16px;
    }


    .stories .grid .item1
    {
        width: 100%;
        padding: 38px 32px;
    }


    .stories .grid .item1 .title
    {
        font-size: 24px;
    }


    .stories .grid .item1 .desc
    {
        font-size: 16px;

        width: 552px;
    }


    .stories .grid .item2
    {
        width: 260px;
        padding: 32px;
    }


    .stories .grid .item3
    {
        width: calc(100% - 276px);
        height: 284px;
    }


    .stories .grid .item4
    {
        width: 260px;
    }


    .stories .grid .item5
    {
        width: 100%;
        padding: 24px 32px;
    }


    .stories .grid .item6
    {
        display: flex;
    }


    .stories .grid .quote > .icon
    {
        width: 40px;
        height: 18px;
        margin-bottom: 16px;
    }


    .stories .grid .quote .text
    {
        font-size: 24px;

        width: 472px;
        max-width: 100%;
    }


    .stories .grid .quote .author
    {
        font-size: 24px;

        margin-top: 8px;

        text-align: right;
    }


    .stories .grid .item5 .link
    {
        display: flex;
    }



    /*--------------
        Services
    --------------*/
    .services:not(.no_pad)
    {
        padding: 0 32px;
    }


    .services .head
    {
        padding: 4px 0 12px;

        border-radius: 30px;
    }


    .services .head .block_head .title span
    {
        margin-top: -8px;
        margin-left: 92px;
    }


    .services .head .bg
    {
        width: 320px;
    }


    .services .list
    {
        padding: 24px 0;

        border-radius: 30px;
    }


    .services .line
    {
        width: 100%;
        height: 1px;
        margin-top: 20px;
        margin-bottom: 44px;
    }


    .services .service
    {
        padding-left: 49px;
    }


    .services .service .number
    {
        font-size: var(--font_size);
    }


    .services .service .name
    {
        font-size: 24px;

        width: calc(100% - 332px);
        min-height: 0;
        margin-top: -2px;
    }


    .services .service .arr
    {
        width: 24px;
        height: 24px;
        padding-left: 1px;

        border-width: 1px;
    }


    .services .service .arr .icon
    {
        width: 7px;
        height: 10px;
    }


    .services .service .col_right
    {
        width: 322px;
    }


    .services .service .desc
    {
        padding-right: 34px;
    }


    .services .service .desc br
    {
        display: none;
    }


    .services .service .logos
    {
        gap: 20px;
    }


    .services .service .logos img
    {
        max-height: 16px;
    }



    /*---------------
        Solutions
    ---------------*/
    .solutions .list
    {
        width: calc(100% + 64px);
        margin-right: -32px;
        margin-left: -32px;
    }


    .solutions .solution .image
    {
        width: 100%;
        height: 331px;
        padding: 24px 32px;

        border-radius: 30px 30px 0 0;
    }


    .solutions .solution .image img
    {
        object-position: 50% 75%;
    }


    .solutions .solution .image .tags a
    {
        padding: 2px 14px;

        border-width: 1px;
    }


    .solutions .solution .data
    {
        width: 100%;
        min-height: 0;
        padding: 24px 32px;

        border-radius: 0 0 30px 30px;

        gap: 44px;
    }


    .solutions .solution .items
    {
        display: flex;
        align-content: flex-start;
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;

        gap: 24px;
    }


    .solutions .solution .item
    {
        width: calc(50% - 12px);
    }


    .solutions .solution .items .name
    {
        font-size: 16px;
    }


    .solutions .solution .items .link a
    {
        height: 36px;

        border-width: 1px;
    }



    /*----------------
        Order form
    ----------------*/
    .order_form .block_head .title span
    {
        margin-top: -8px;
        margin-left: 92px;
    }


    .order_form .links
    {
        margin-bottom: 16px;
    }


    .order_form .links .title
    {
        font-size: 16px;

        margin-bottom: 8px;
    }


    .order_form .links .items
    {
        font-size: var(--font_size);

        padding: 5px 20px;

        gap: 20px;
    }


    .order_form .links .items a
    {
        padding: 10px 20px;

        color: #00f;
        background: #e9f1fd;
    }


    .order_form .form_wrap
    {
        padding: 17px 24px 32px;
    }



    /*------------------
        Terms of use
    ------------------*/
    .terms_of_use .page_title span
    {
        margin-left: 264px;
    }


    .terms_of_use .bg
    {
        width: 332px;
        margin-right: -460px;
    }



    /*----------------
        Error info
    ----------------*/
    .error_info .bg
    {
        top: -20px;
    }



    /*-----------------------
        Zoom presentation
    -----------------------*/
    .zoom_presentation .btn
    {
        width: 347px;
        height: 40px;

        gap: 16px;
    }


    .zoom_presentation .btn .icon
    {
        width: 10px;
        height: 14px;
    }



    /*-------------
        Stories
    -------------*/
    .stories .head
    {
        padding: 20px 0;
    }


    .stories .list .row
    {
        margin-bottom: -10px;
        margin-left: -10px;
    }


    .stories .list .row > *
    {
        width: calc(50% - 10px);
        margin-bottom: 10px;
        margin-left: 10px;
    }


    .stories .list .item
    {
        min-height: 0;
        padding: 24px 33px;
    }


    .stories .list .item .name
    {
        margin-bottom: 38px;
    }


    .stories .list .item .desc
    {
        margin-top: auto;
    }


    .stories .list .item .logo,
    .stories .list .item .link
    {
        display: none;
    }



    /*----------------
        Story info
    ----------------*/
    .story_info .head
    {
        border-radius: 0 0 32px 32px;
    }


    .story_info .data
    {
        padding: 32px 0;

        border-radius: 32px;
    }


    .story_info .data .logo
    {
        width: 200px;
        height: 40px;
    }


    .story_info .data .features
    {
        gap: 8px;
    }


    .story_info .data .features > *
    {
        font-size: var(--font_size);

        padding: 8px 17px 8px 18px;

        border-radius: 20px;
    }


    .story_info .data .features > *.fixed_w
    {
        width: 170px;
    }


    .story_info .data .title
    {
        font-size: var(--font_size_title_small);

        margin-top: 28px;
        padding-bottom: 20px;
    }


    .story_info .data .desc
    {
        font-size: var(--font_size);

        margin-top: 16px;
    }


    .story_info .quote > div
    {
        width: 408px;
        max-width: 100%;
    }


    .story_info .quote .icon
    {
        width: 32px;
        margin-bottom: 16px;
    }


    .story_info .quote .text
    {
        font-size: 16px;
    }


    .story_info .quote .author
    {
        font-size: var(--font_size);

        margin-top: 16px;
    }


    .story_info .quote .image
    {
        width: calc(100% - 384px);

        border-radius: 24px 0 0 24px;
    }



    .story_info .info
    {
        margin-top: 48px;
    }


    .story_info .info .row
    {
        margin-bottom: -36px;
    }


    .story_info .info .row > *
    {
        margin-bottom: 36px;
    }


    .story_info .info .item
    {
        gap: 12px;
    }


    .story_info .info .name
    {
        font-size: 20px;
    }


    .story_info .info .items
    {
        font-size: 16px;

        gap: 8px;
    }


    .story_info .info .items > *
    {
        padding-left: 24px;
    }


    .story_info .info .items .icon
    {
        top: 8px;

        width: 15px;
        height: 6px;
    }



    .story_info .download
    {
        margin-top: 40px;
    }


    .story_info .download a
    {
        font-size: 20px;

        width: 348px;
        padding: 10px 16px;

        border-radius: 24px;

        gap: 16px;
    }


    .story_info .download .icon
    {
        width: 10px;
        height: 14px;
    }



    /*--------------------
        Vacancies head
    --------------------*/
    .vacancies_head
    {
        min-height: 415px;

        border-radius: 0 0 40px 40px;
    }


    .vacancies_head .text
    {
        font-size: 12px;

        width: calc(100% - 364px);
        padding: 16px 20px;

        border-radius: 20px;
    }


    .vacancies_head .accredited
    {
        width: 348px;
        padding: 16px 20px;

        border-radius: 20px;
    }


    .vacancies_head .accredited .title
    {
        font-size: var(--font_size);

        width: 235px;
    }


    .vacancies_head .accredited .logos
    {
        margin-top: 18px;
    }


    .vacancies_head .accredited .logos img
    {
        height: 17px;
    }


    .vacancies_head .accredited .logos > * + * img
    {
        height: 17px;
    }


    .vacancies_head .accredited .link
    {
        font-size: 10px;

        right: 20px;
        bottom: 16px;

        width: 140px;
        height: 28px;

        gap: 8px;
    }


    .vacancies_head .accredited .link .icon
    {
        width: 8px;
        height: 11px;
    }



    /*---------------
        Join team
    ---------------*/
    .join_team .block_head .title span
    {
        margin-left: 248px;
    }


    .join_team .row
    {
        margin-bottom: -10px;
        margin-left: -10px;
    }


    .join_team .row > *
    {
        width: calc(25% - 10px);
        margin-bottom: 10px;
        margin-left: 10px;
    }


    .join_team .item
    {
        min-height: 190px;
        padding: 20px 12px;

        border-radius: 24px;
    }


    .join_team .item .icon
    {
        height: 42px;
    }


    .join_team .item .name
    {
        font-size: var(--font_size);
    }


    .join_team .item .desc
    {
        margin-top: 8px;
    }



    /*---------------
        Vacancies
    ---------------*/
    .vacancies .vacancy .info
    {
        gap: 12px;
    }


    .vacancies .vacancy .tags
    {
        gap: 8px;
    }



    /*------------
        Career
    ------------*/
    .career .empty .title
    {
        font-size: 24px;

        margin-bottom: 20px;
    }


    .career .empty .title br
    {
        display: block;
    }


    .career .empty .link a
    {
        padding: 15px 60px;
    }


    .career .empty .socials .icon
    {
        width: 49px;
        height: 49px;
    }



    .career .bg
    {
        top: -96px;

        width: 298px;
        margin-right: -468px;
    }



    /*------------
        Footer
    ------------*/
    footer
    {
        padding: 32px 0;

        border-radius: 30px 0 0 0;
    }


    footer .logo
    {
        margin-bottom: 24px;
    }


    footer .col
    {
        gap: 20px;
    }


    footer .links
    {
        gap: 12px;
    }


    footer .links .title
    {
        font-size: 16px;
    }


    footer .links .items
    {
        gap: 4px;
    }


    footer .contacts
    {
        padding-bottom: 16px;

        border-width: 2px;
    }


    footer .contacts .phone,
    footer .contacts .address
    {
        font-size: var(--font_size);
    }


    footer .socials
    {
        gap: 14px;
    }


    footer .socials .icon
    {
        width: 34px;
        height: 34px;
    }


    footer .copyright,
    footer .bottom_links
    {
        font-size: 12px;

        margin-top: 16px;
    }



    /*-----------
        PopUp
    -----------*/
    .modal
    {
        padding: 40px;

        border-radius: 40px;
    }


    .modal_title
    {
        font-size: 36px;
    }


    .modal_desc
    {
        font-size: var(--font_size);

        width: 420px;
        margin-top: 16px;
    }


    .modal .form
    {
        margin-top: 48px;
    }
}
