@media print,
(max-width: 1439px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size: 15px;
        --font_size_title: 60px;
        --font_size_title_small: 44px;
    }



    .block
    {
        margin-bottom: 80px;
    }



    /*--------------
        Fancybox
    --------------*/
    .fancybox__content > .f-button.is-close-btn,
    .is-compact .fancybox__content > .f-button.is-close-btn
    {
        top: 40px;
        right: 40px;

        --f-button-width: 32px;
        --f-button-height: 32px;
        --f-button-svg-width: 32px;
        --f-button-svg-height: 32px;
    }



    /*----------------
        Pagination
    ----------------*/
    .pagination
    {
        padding: 28px 0;
    }


    .pagination a,
    .pagination .sep
    {
        font-size: 18px;
    }


    .pagination .prev
    {
        margin-right: 16px;
    }

    .pagination .next
    {
        margin-left: 16px;
    }



    /*---------------
        Accordion
    ---------------*/
    .accordion_item + .accordion_item
    {
        margin-top: 16px;
    }


    .accordion_item .head .title
    {
        font-size: 26px;
    }


    .accordion_item .head .icon
    {
        width: 32px;
        height: 32px;
    }



    /*------------
        Header
    ------------*/
    header
    {
        position: fixed;
        z-index: 101;
        top: 0;
        right: 100%;
        left: auto;

        width: 325px;
        height: 100%;
        min-height: -moz-available;
        min-height: -webkit-fill-available;
        min-height:         fill-available;
        margin: 0;
        padding: 0;

        transition: transform .3s linear;

        background: #fff;
    }

    header.show
    {
        transform: translateX(100%);
    }


    header .scroll
    {
        display: flex;
        overflow: auto;
        flex-direction: column;

        height: 100%;
        min-height: -moz-available;
        min-height: -webkit-fill-available;
        min-height:         fill-available;
        padding: 24px 0;

        overscroll-behavior-y: contain;
    }



    /*-----------------
        Mob. header
    -----------------*/
    .mob_header
    {
        display: block;
    }



    /*---------------
        Page head
    ---------------*/
    .page_head
    {
        margin-bottom: 60px;
    }

    .page_head.middle_m
    {
        margin-bottom: 40px;
    }

    .page_head.big_m
    {
        margin-bottom: 80px;
    }


    .page_head.big_gap .cont
    {
        gap: 100px;
    }


    .page_head .back
    {
        font-size: var(--font_size);
    }


    .page_head .back .icon
    {
        width: 8px;
        height: 11px;
    }


    .page_title
    {
        font-size: 80px;
    }


    .page_title .span1
    {
        margin-right: 80px;
    }


    .page_title .span2
    {
        margin-left: 216px;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head .sub_title
    {
        font-size: 36px;

        width: 700px;
        margin-top: 32px;
    }


    .block_head .desc
    {
        font-size: 24px;

        margin-top: 32px;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block
    {
        font-size: 20px;
    }


    .text_block > *
    {
        margin-bottom: 24px;
    }



    /*------------------
        Form elements
    ------------------*/
    .form .file label
    {
        font-size: 18px;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section
    {
        padding-top: 80px;

        border-radius: 0 0 48px 48px;
    }


    .first_section .img
    {
        width: 440px;
    }


    .first_section .pluses
    {
        margin-bottom: 40px;
    }


    .first_section .pluses .item:nth-child(1)
    {
        width: 240px;
    }

    .first_section .pluses .item:nth-child(2)
    {
        width: 180px;
    }

    .first_section .pluses .item:nth-child(3)
    {
        width: 140px;
    }


    .first_section .pluses .val
    {
        font-size: 40px;
    }


    .first_section .title
    {
        font-size: 80px;
    }


    .first_section .desc
    {
        font-size: 20px;

        bottom: 24px;

        width: 380px;
    }


    .first_section .desc .order_btn
    {
        display: flex;
    }



    /*----------------
        Advantages
    ----------------*/
    .advantages
    {
        border-radius: 48px;
    }


    .advantages .item .name
    {
        font-size: 20px;
    }


    .advantages .item .desc
    {
        font-size: var(--font_size);
    }


    .advantages .item .link a
    {
        padding: 12px 32px;
    }



    /*----------------
        About info
    ----------------*/
    .about_info .data
    {
        padding: 32px;

        border-radius: 32px;
    }


    .about_info .data .title
    {
        width: 444px;
    }


    .about_info .data .desc
    {
        font-size: var(--font_size);

        width: 444px;
    }


    .about_info .data .desc div
    {
        width: 340px;
    }


    .about_info .data .bg
    {
        width: 440px;
    }



    .about_info .link
    {
        min-height: 220px;
        padding: 24px 24px 24px 32px;

        border-radius: 32px;
    }


    .about_info .link .name
    {
        font-size: 28px;
    }


    .about_info .link .logos
    {
        gap: 20px;
    }


    .about_info .link .logos img
    {
        max-height: 36px;
    }


    .about_info .link .btn
    {
        right: 24px;
        bottom: 24px;

        padding: 12px 36px;
    }



    /*-------------
        Stories
    -------------*/
    .stories .tabs .btn
    {
        height: 92px;
    }


    .stories .tab_content.active
    {
        padding-top: 24px;
        padding-bottom: 48px;

        border-radius: 0 0 32px 32px;
    }


    .stories .grid .item
    {
        border-radius: 32px;
    }


    .stories .grid .item1
    {
        width: 480px;
        padding: 24px;
    }


    .stories .grid .item1 .title
    {
        font-size: 24px;
    }


    .stories .grid .item1 .desc
    {
        font-size: var(--font_size);

        width: 348px;
    }


    .stories .grid .item2
    {
        width: 320px;
    }


    .stories .grid .item3
    {
        width: calc(100% - 840px);
    }


    .stories .grid .item4
    {
        width: calc(100% - 580px);
    }


    .stories .grid .item5
    {
        width: 560px;
        padding: 48px 40px;
    }


    .stories .grid .quote > .icon
    {
        width: 60px;
        height: 28px;
        margin-bottom: 28px;
    }


    .stories .grid .quote .text
    {
        font-size: 24px;
    }


    .stories .grid .quote .author
    {
        font-size: 18px;

        margin-top: 20px;
    }



    /*--------------
        Services
    --------------*/
    .services .head
    {
        padding: 40px 0;

        border-radius: 48px;
    }


    .services .head .block_head .title span
    {
        margin-top: 8px;
        margin-left: 100px;
    }


    .services .head .block_head .title.small span
    {
        margin-top: 4px;
        margin-left: 200px;
    }


    .services .head .bg
    {
        width: 680px;
    }


    .services .list
    {
        padding: 48px 24px;

        border-radius: 48px;
    }


    .services .list.no_bg
    {
        padding: 0;
    }


    .services .line
    {
        width: calc(100% - 100px);
        margin-top: 24px;
        margin-bottom: 60px;
    }


    .services .service
    {
        padding-left: 100px;
    }


    .services .service .number
    {
        font-size: 18px;
    }


    .services .service .name
    {
        width: calc(100% - 568px);
        min-height: 188px;
    }


    .services .service .arr
    {
        width: 52px;
        height: 52px;
    }


    .services .service .arr .icon
    {
        width: 13px;
        height: 18px;
    }


    .services .service .col_right
    {
        width: 548px;
    }


    .services .service .desc
    {
        font-size: var(--font_size);

        padding-right: 120px;
    }


    .services .service .logos img
    {
        max-height: 32px;
    }



    /*---------------
        Solutions
    ---------------*/
    .solutions .solution .image
    {
        border-radius: 0 32px 32px 0;
    }


    .solutions .solution .image .tags
    {
        gap: 8px;
    }


    .solutions .solution .image .tags a
    {
        padding: 6px 18px;

        border-radius: 32px;
    }


    .solutions .solution .data
    {
        min-height: 904px;

        border-radius: 32px 0 0 32px;
    }


    .solutions .solution .title
    {
        font-size: 40px;
    }


    .solutions .solution .items
    {
        gap: 32px;
    }


    .solutions .solution .items .name
    {
        font-size: 20px;
    }


    .solutions .solution .items .desc
    {
        font-size: var(--font_size);
    }


    .solutions .solution .items .link a
    {
        width: 200px;

        border-radius: 32px;
    }



    /*----------------
        Order form
    ----------------*/
    .order_form .block_head .title span
    {
        margin-top: 8px;
        margin-left: 100px;
    }


    .order_form .links .title
    {
        font-size: 28px;
    }


    .order_form .links .items
    {
        font-size: 18px;

        border-radius: 32px;

        gap: 48px;
    }


    .order_form .links .items a
    {
        padding: 20px;

        border-radius: 32px;
    }


    .order_form .form_wrap
    {
        padding: 48px;

        border-radius: 48px;
    }


    .order_form .form
    {
        width: 960px;
    }



    /*------------------
        Terms of use
    ------------------*/
    .terms_of_use .page_title span
    {
        margin-left: 400px;
    }


    .terms_of_use .data
    {
        max-width: calc(100% - 200px);
        margin-left: 200px;
    }


    .terms_of_use .section + .section
    {
        margin-top: 64px;
    }


    .terms_of_use .section .title
    {
        margin-bottom: 24px;
    }


    .terms_of_use .contacts
    {
        gap: 24px;
    }


    .terms_of_use .bg
    {
        top: -40px;

        width: 440px;
        margin-right: -720px;
    }


    .terms_of_use .bg2
    {
        left: -140px;

        width: 320px;
    }



    /*----------------
        Error info
    ----------------*/
    .error_info .cont
    {
        padding-top: 160px;
        padding-bottom: 240px;
    }


    .error_info .title
    {
        width: 960px;
    }


    .error_info .title .link
    {
        font-size: 18px;

        height: 60px;
    }


    .error_info .code
    {
        top: 100px;

        margin-right: -480px;
    }


    .error_info .code .label
    {
        font-size: 28px;
    }


    .error_info .code .val
    {
        font-size: 112px;

        margin-top: -8px;
    }


    .error_info .bg
    {
        width: 540px;
    }



    /*-----------------------
        Zoom presentation
    -----------------------*/
    .zoom_presentation .btn
    {
        font-size: 18px;

        width: 400px;
        height: 60px;
    }



    /*-------------
        Stories
    -------------*/
    .stories .head
    {
        padding: 24px 0;
    }


    .stories .head .count
    {
        font-size: 16px;

        margin-left: 20px;
    }


    .stories .head .cooperation_btn
    {
        font-size: var(--font_size);

        width: 320px;
        height: 40px;
    }


    .stories .list
    {
        padding: 48px 0;
    }


    .stories .list .item
    {
        min-height: 400px;
        padding: 24px;
    }


    .stories .list .item .pre_title
    {
        font-size: var(--font_size);
    }


    .stories .list .item .name
    {
        font-size: 20px;
    }



    /*----------------
        Story info
    ----------------*/
    .story_info .head
    {
        border-radius: 0 0 48px 48px;
    }


    .story_info .data
    {
        padding: 48px 0;

        border-radius: 48px;
    }


    .story_info .data .logo
    {
        width: 320px;
        height: 64px;
    }


    .story_info .data .features > *
    {
        font-size: 18px;

        border-radius: 32px;
    }


    .story_info .data .features > *.fixed_w
    {
        width: 280px;
    }


    .story_info .data .title
    {
        margin-top: 48px;
        padding-bottom: 24px;
    }


    .story_info .data .desc
    {
        font-size: 18px;

        margin-top: 24px;
    }


    .story_info .quote > div
    {
        width: 50%;
    }


    .story_info .quote .icon
    {
        width: 52px;
        height: auto;
        margin-bottom: 24px;
    }


    .story_info .quote .text
    {
        font-size: 26px;
    }


    .story_info .quote .author
    {
        font-size: 18px;

        margin-top: 24px;
    }


    .story_info .quote .post
    {
        font-size: 16px;

        margin-top: 4px;
    }


    .story_info .quote .image
    {
        width: calc(50% - 24px);

        border-radius: 32px 0 0 32px;
    }



    .story_info .info .item
    {
        padding-bottom: 0;

        gap: 20px;
    }


    .story_info .info .name
    {
        font-size: 26px;
    }


    .story_info .info .items
    {
        font-size: 20px;
    }


    .story_info .info .items > *
    {
        padding-left: 52px;
    }


    .story_info .info .items .icon
    {
        top: 10px;

        width: 32px;
        height: 11px;
    }



    .story_info .download a
    {
        font-size: 24px;

        width: 480px;
        padding: 16px;

        border-radius: 32px;

        gap: 20px;
    }



    /*--------------------
        Vacancies head
    --------------------*/
    .vacancies_head
    {
        min-height: 520px;
        margin-bottom: 60px;
        padding-bottom: 48px;

        border-radius: 0 0 60px 60px;
    }


    .vacancies_head .text
    {
        font-size: 20px;

        width: calc(100% - 584px);
        padding: 24px;

        border-radius: 32px;
    }


    .vacancies_head .accredited
    {
        width: 560px;
        padding: 24px;

        border-radius: 32px;
    }


    .vacancies_head .accredited .title
    {
        font-size: 20px;

        width: 340px;
    }


    .vacancies_head .accredited .logos
    {
        margin-top: 32px;

        gap: 8px;
    }


    .vacancies_head .accredited .logos img
    {
        height: 28px;
    }


    .vacancies_head .accredited .logos > * + * img
    {
        height: 27px;
    }


    .vacancies_head .accredited .link
    {
        font-size: var(--font_size);

        right: 24px;
        bottom: 24px;

        width: 240px;
        height: 40px;
    }



    /*---------------
        Join team
    ---------------*/
    .join_team .block_head .title span
    {
        margin-left: 400px;
    }


    .join_team .item
    {
        min-height: 240px;

        border-radius: 32px;
    }


    .join_team .item .icon
    {
        height: 60px;
        margin-bottom: 20px;
    }


    .join_team .item .name
    {
        font-size: 18px;
    }


    .join_team .item .desc
    {
        font-size: 16px;
    }



    /*---------------
        Vacancies
    ---------------*/
    .vacancies .categories
    {
        margin-bottom: 32px;

        gap: 16px;
    }


    .vacancies .categories .btn
    {
        font-size: var(--font_size);

        padding: 7px 19px;
    }


    .vacancies .list
    {
        gap: 24px;
    }


    .vacancies .vacancy .name
    {
        font-size: 28px;
    }


    .vacancies .vacancy .tags > *
    {
        font-size: 18px;

        min-width: 124px;
        padding: 4px 8px;
    }


    .vacancies .vacancy .btns
    {
        gap: 16px;
    }


    .vacancies .vacancy .btns .btn
    {
        font-size: var(--font_size);

        height: 40px;
    }



    .vacancies .all_link a
    {
        font-size: 18px;

        padding: 20px 68px;

        border-radius: 32px;
    }



    /*------------
        Career
    ------------*/
    .career .empty .title
    {
        font-size: 28px;

        margin-bottom: 24px;
    }


    .career .empty .link a
    {
        font-size: 18px;

        padding: 16px 100px;

        border-radius: 32px;
    }


    .career .empty .socials
    {
        gap: 20px;
    }



    .career .bg
    {
        top: -120px;

        width: 420px;
        margin-right: -680px;
    }



    /*------------------
        Vacancy info
    ------------------*/
    .vacancy_info .data .title
    {
        font-size: 28px;

        margin-bottom: 20px;
    }


    .vacancy_info .data .items
    {
        font-size: 18px;

        gap: 16px;
    }


    .vacancy_info .data .items > *
    {
        padding-left: 28px;

        background-position: 0 4px;
    }


    .vacancy_info .data .items b
    {
        margin-right: 12px;
    }


    .vacancy_info .data .btns
    {
        gap: 16px;
    }


    .vacancy_info .data .btns .btn
    {
        font-size: var(--font_size);

        height: 40px;
    }



    .vacancy_info .row
    {
        margin-bottom: -80px;
        margin-left: -48px;
    }


    .vacancy_info .row > *
    {
        width: calc(50% - 48px);
        margin-bottom: 80px;
        margin-left: 48px;
    }


    .vacancy_info .row > *.big
    {
        width: calc(100% - 48px);
    }


    .vacancy_info .item .items
    {
        font-size: 24px;

        gap: 16px;
    }


    .vacancy_info .item .items .arrows
    {
        top: 10px;
    }



    /*-------------------
        Contacts info
    -------------------*/
    .contacts_info .map_wrap
    {
        padding: 80px 0;

        border-radius: 32px;
    }


    .contacts_info .map_wrap .data
    {
        width: 440px;
        padding: 48px 68px;

        border-radius: 32px;

        gap: 40px;
    }


    .contacts_info .map_wrap .company
    {
        font-size: 28px;
    }


    .contacts_info .map_wrap .label
    {
        font-size: 16px;

        margin-bottom: 2px;
    }


    .contacts_info .map_wrap .val
    {
        font-size: 26px;
    }



    .contacts_info .info .row
    {
        margin-left: -60px;
    }


    .contacts_info .info .row > *
    {
        width: calc(25% - 60px);
        margin-left: 60px;
    }


    .contacts_info .info .name
    {
        font-size: 26px;

        margin-bottom: 24px;
    }


    .contacts_info .info .label
    {
        font-size: 16px;

        margin-bottom: 2px;
    }


    .contacts_info .info .val
    {
        font-size: 20px;
    }



    /*--------------
        Feedback
    --------------*/
    .feedback
    {
        padding: 52px 0 60px;

        border-radius: 60px;
    }


    .feedback .form
    {
        width: 960px;
    }


    .feedback .form .input,
    .feedback .form .nice-select .current
    {
        font-size: 18px;
    }



    /*------------------
        Service head
    ------------------*/
    .service_head
    {
        padding-bottom: 68px;

        border-radius: 0 0 60px 60px;
    }


    .service_head .data .title
    {
        font-size: 26px;

        width: 480px;
    }


    .service_head .data .link a
    {
        font-size: 18px;

        padding: 18px 46px;
    }


    .service_head .info
    {
        margin-top: 68px;
        padding: 24px;

        border-radius: 60px;
    }


    .service_head .info .item
    {
        font-size: 18px;

        width: calc(50% - 12px);
    }


    .service_head .info .icon
    {
        width: 140px;
    }


    .service_head .info .icon + *,
    .service_head .info .item:nth-child(2) .icon + *
    {
        width: calc(100% - 164px);
        max-width: calc(100% - 164px);
    }



    /*--------------------
        Service brands
    --------------------*/
    .service_brands .block_head .title span
    {
        margin-left: 180px;
    }


    .service_brands .item
    {
        height: 200px;
        padding: 24px;

        border-radius: 20px;
    }


    .service_brands .item:nth-child(3),
    .service_brands .item:nth-child(11)
    {
        margin-top: 40px;
    }

    .service_brands .item:nth-child(4),
    .service_brands .item:nth-child(12)
    {
        margin-top: 80px;
    }

    .service_brands .item:nth-child(5)
    {
        margin-top: 120px;
    }

    .service_brands .item:nth-child(6)
    {
        margin-top: 160px;
    }



    /*------------------------
        Service principles
    ------------------------*/
    .service_principles .block_head
    {
        width: 1024px;
    }


    .service_principles .block_head .title span
    {
        margin-left: 280px;
    }


    .service_principles .accordion
    {
        width: 1024px;
    }



    /*----------------------
        Service projects
    ----------------------*/
    .service_projects .block_head .title span
    {
        margin-left: 160px;
    }


    .service_projects .project .info
    {
        width: 340px;
    }


    .service_projects .project .logo
    {
        width: 220px;
        height: 52px;
    }


    .service_projects .project .desc
    {
        font-size: 18px;
    }


    .service_projects .project .image
    {
        width: calc(100% - 608px);
    }


    .service_projects .project .tags .items > *
    {
        font-size: var(--font_size);

        padding: 3px 19px;
    }


    .service_projects .project .btns
    {
        width: 220px;
    }


    .service_projects .project .btns .btn
    {
        font-size: var(--font_size);
    }



    .service_projects .all_link
    {
        margin-top: 40px;
    }


    .service_projects .all_link a
    {
        font-size: 18px;

        width: 400px;
        padding: 16px;
    }



    /*------------------
        Technologies
    ------------------*/
    .technologies .block_head .title span
    {
        margin-left: 280px;
    }


    .technologies .row > *
    {
        font-size: 20px;

        padding: 12px 28px;
    }



    /*-------------------
        Solution info
    -------------------*/
    .solution_info .anchors
    {
        margin-bottom: 48px;
    }


    .solution_info .anchors .btn
    {
        font-size: 18px;

        padding: 16px 36px;
    }


    .solution_info .anchors .btn .icon
    {
        width: 10px;
        height: 14px;
    }


    .solution_info .data
    {
        padding: 60px 24px;

        border-radius: 48px;
    }


    .solution_info .tabs
    {
        margin-bottom: 32px;

        border-radius: 32px;
    }


    .solution_info .tabs .btn
    {
        font-size: 18px;
    }


    .solution_info .section .title
    {
        font-size: 32px;
    }


    .solution_info .section .info
    {
        gap: 32px;
    }


    .solution_info .section .item
    {
        gap: 12px;
    }


    .solution_info .section .name
    {
        font-size: 20px;
    }


    .solution_info .tab_content .name
    {
        right: 0;
    }


    .solution_info .section .sub_name
    {
        font-size: 20px;
    }


    .solution_info .section .desc
    {
        font-size: 16px;
    }


    .solution_info .section .image
    {
        margin-bottom: 48px;

        border-radius: 32px;
    }


    .solution_info .section .big_title
    {
        margin-bottom: 32px;
    }


    .solution_info .section .desc ul li .arrows
    {
        top: 4px;
    }


    .solution_info .section .percents
    {
        margin-top: 48px;

        gap: 24px 48px;
    }


    .solution_info .section .percents .label
    {
        font-size: 18px;
    }



    /*-----------
        Cases
    -----------*/
    .cases .block_head .title span
    {
        margin-top: 4px;
        margin-left: 280px;
    }


    .cases .image
    {
        width: 260px;

        border-radius: 32px;
    }


    .cases .item
    {
        width: 400px;
        padding: 24px;

        border-radius: 32px;
    }


    .cases .item.big
    {
        width: calc(100% - 720px);
    }


    .cases .item .logo
    {
        width: 172px;
        height: 32px;
        margin-bottom: 20px;
    }


    .cases .item .name
    {
        font-size: 18px;
    }


    .cases .item .link
    {
        padding-top: 20px;
    }


    .cases .item .link a
    {
        font-size: var(--font_size);

        width: 168px;
    }



    /*------------------
        Next product
    ------------------*/
    .next_product
    {
        padding: 48px 0;
    }


    .next_product .cont
    {
        gap: 100px;
    }


    .next_product .title
    {
        font-size: 28px;

        padding-left: 40px;
    }


    .next_product .title:before
    {
        top: 6px;

        width: 20px;
        height: 20px;
    }


    .next_product .all_link
    {
        width: 400px;
    }


    .next_product .all_link a
    {
        font-size: 18px;

        height: 56px;
    }


    .next_product .name
    {
        width: 480px;
    }


    .next_product .link
    {
        width: 400px;
    }


    .next_product .link a
    {
        font-size: 32px;

        padding-bottom: 14px;

        border-width: 2px;
    }


    .next_product .link .icon
    {
        width: 13px;
        height: 17px;
    }



    /*----------------
        About head
    ----------------*/
    .about_head
    {
        padding-bottom: 40px;

        border-radius: 0 0 60px 60px;
    }


    .about_head .image
    {
        border-radius: 32px;
    }


    .about_head .image > img
    {
        min-height: 480px;
    }


    .about_head .logos
    {
        gap: 24px;
    }


    .about_head .logos > *
    {
        border-radius: 20px;
    }


    .about_head .quote .icon
    {
        width: 48px;
    }


    .about_head .quote .text,
    .about_head .quote .author
    {
        font-size: 18px;
    }


    .about_head .title
    {
        font-size: 88px;

        width: 560px;
    }



    /*-----------------
        About today
    -----------------*/
    .about_today
    {
        border-radius: 60px;
    }


    .about_today .items .item .desc
    {
        font-size: 20px;
    }


    .about_today .text
    {
        font-size: 20px;

        padding: 24px;

        border-radius: 32px;
    }


    .about_today .accredited
    {
        padding: 24px;

        border-radius: 32px;
    }



    .about_today .accredited .title
    {
        font-size: 24px;

        width: 420px;
    }


    .about_today .accredited .logos
    {
        margin-top: 32px;

        gap: 24px;
    }


    .about_today .accredited .logos img
    {
        height: 28px;
    }


    .about_today .accredited .logos > * + * img
    {
        height: 27px;
    }


    .about_today .accredited .link
    {
        font-size: var(--font_size);

        right: 24px;
        bottom: 24px;

        width: 240px;
        height: 40px;
    }



    /*---------------
        Geography
    ---------------*/
    .geography
    {
        border-radius: 60px;
    }


    .geography .directions .items
    {
        font-size: 24px;

        gap: 16px;
    }


    .geography .directions .items > *
    {
        padding-left: 48px;
    }


    .geography .directions .items .arrows
    {
        top: 12px;
    }


    .geography .directions .items .arrows svg
    {
        width: 8px;
        height: 11px;
    }



    /*--------------
        Products
    --------------*/
    .products .swiper
    {
        padding-bottom: 72px;
    }


    .products .swiper-button-next,
    .products .swiper-button-prev
    {
        width: 52px;
        height: 52px;
    }


    .products .swiper-button-prev
    {
        right: 104px;
    }


    .products .swiper-button-next .icon,
    .products .swiper-button-prev .icon
    {
        width: 15px;
        height: 20px;
    }


    .products .product .name
    {
        font-size: 18px;

        width: 240px;
    }


    .products .product .desc
    {
        font-size: var(--font_size);

        width: calc(100% - 260px);
    }



    /*-------------
        Mission
    -------------*/
    .mission .block_head
    {
        padding-bottom: 0;
    }


    .mission .item
    {
        gap: 20px;
    }


    .mission .item .thumb
    {
        border-radius: 32px;
    }


    .mission .item .desc
    {
        font-size: 20px;
    }



    /*-------------
        Clients
    -------------*/
    .clients .swiper-button-next,
    .clients .swiper-button-prev
    {
        width: 52px;
        height: 52px;
        margin-bottom: 48px;
    }


    .clients .swiper-button-next .icon,
    .clients .swiper-button-prev .icon
    {
        width: 15px;
        height: 20px;
    }


    .clients .swiper-button-prev
    {
        right: 104px;
    }


    .clients .item
    {
        padding: 24px;
    }


    .clients .item .logo
    {
        height: 44px;
    }


    .clients .item .author .name
    {
        font-size: 20px;
    }


    .clients .item .author .post
    {
        font-size: var(--font_size);
    }


    .clients .item .desc
    {
        margin-top: 20px;
    }



    .clients .logos
    {
        gap: 10px;
    }


    .clients .logos > *,
    .clients .logos > *:nth-child(5)
    {
        width: 180px;
    }


    .clients .logos > *.big,
    .clients .logos > *.bigger,
    .clients .logos > *.biggest
    {
        width: 326px;
    }



    /*---------------
        Downloads
    ---------------*/
    .downloads
    {
        padding-top: 20px;
    }


    .downloads .block_head .desc
    {
        width: 560px;
    }


    .downloads .items
    {
        font-size: 20px;
    }


    .downloads .items a
    {
        padding-left: 32px;
    }


    .downloads .items .arrows svg
    {
        width: 8px;
        height: 11px;
    }


    .downloads .bg
    {
        width: 480px;
        margin-left: 24px;
    }



    /*------------
        Footer
    ------------*/
    footer
    {
        border-radius: 48px 0 0 0;
    }



    /*-----------
        PopUp
    -----------*/
    .modal
    {
        padding: 48px;

        border-radius: 48px;
    }


    .modal_title
    {
        font-size: 40px;
    }


    .modal_desc
    {
        font-size: 16px;

        width: 468px;
    }


    .modal .form
    {
        margin-top: 60px;
    }
}
