@media print,
(max-width: 1439px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size: 15px;
        --font_size_title: 60px;
        --font_size_title_small: 44px;
    }



    .block
    {
        margin-bottom: 80px;
    }



    /*--------------
        Fancybox
    --------------*/
    .fancybox__content > .f-button.is-close-btn,
    .is-compact .fancybox__content > .f-button.is-close-btn
    {
        top: 40px;
        right: 40px;

        --f-button-width: 32px;
        --f-button-height: 32px;
        --f-button-svg-width: 32px;
        --f-button-svg-height: 32px;
    }



    /*----------
        Tabs
    ----------*/
    .tabs
    {
        padding: 0;
    }


    .tabs .btn div
    {
        height: 92px;
    }



    /*------------
        Header
    ------------*/
    header
    {
        position: fixed;
        z-index: 101;
        top: 0;
        right: 100%;
        left: auto;

        width: 325px;
        height: 100%;
        min-height: -moz-available;
        min-height: -webkit-fill-available;
        min-height:         fill-available;
        margin: 0;
        padding: 0;

        transition: transform .3s linear;

        background: #fff;
    }

    header.show
    {
        transform: translateX(100%);
    }


    header .scroll
    {
        display: flex;
        overflow: auto;
        flex-direction: column;

        height: 100%;
        min-height: -moz-available;
        min-height: -webkit-fill-available;
        min-height:         fill-available;
        padding: 24px 0;

        overscroll-behavior-y: contain;
    }



    /*-----------------
        Mob. header
    -----------------*/
    .mob_header
    {
        display: block;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section
    {
        padding-top: 80px;

        border-radius: 0 0 48px 48px;
    }


    .first_section .img
    {
        width: 440px;
    }


    .first_section .pluses
    {
        margin-bottom: 40px;
    }


    .first_section .pluses .item:nth-child(1)
    {
        width: 240px;
    }

    .first_section .pluses .item:nth-child(2)
    {
        width: 180px;
    }

    .first_section .pluses .item:nth-child(3)
    {
        width: 140px;
    }


    .first_section .pluses .val
    {
        font-size: 40px;
    }


    .first_section .title
    {
        font-size: 80px;
    }


    .first_section .desc
    {
        font-size: 20px;

        bottom: 24px;

        width: 380px;
    }


    .first_section .desc .order_btn
    {
        display: flex;
    }



    /*----------------
        Advantages
    ----------------*/
    .advantages
    {
        border-radius: 48px;
    }


    .advantages .item .name
    {
        font-size: 20px;
    }


    .advantages .item .desc
    {
        font-size: var(--font_size);
    }


    .advantages .item .link a
    {
        padding: 12px 32px;
    }



    /*----------------
        About info
    ----------------*/
    .about_info .data
    {
        padding: 32px;

        border-radius: 32px;
    }


    .about_info .data .title
    {
        width: 444px;
    }


    .about_info .data .desc
    {
        font-size: var(--font_size);

        width: 444px;
    }


    .about_info .data .desc div
    {
        width: 340px;
    }


    .about_info .data .bg
    {
        width: 440px;
    }



    .about_info .link
    {
        min-height: 220px;
        padding: 24px 24px 24px 32px;

        border-radius: 32px;
    }


    .about_info .link .name
    {
        font-size: 28px;
    }


    .about_info .link .logos
    {
        gap: 20px;
    }


    .about_info .link .logos img
    {
        max-height: 36px;
    }


    .about_info .link .btn
    {
        right: 24px;
        bottom: 24px;

        padding: 12px 36px;
    }



    /*-------------
        History
    -------------*/
    .history .item
    {
        border-radius: 32px;
    }


    .history .item1
    {
        width: 480px;
        padding: 24px;
    }


    .history .item1 .title
    {
        font-size: 24px;
    }


    .history .item1 .desc
    {
        font-size: var(--font_size);

        width: 348px;
    }


    .history .item2
    {
        width: 320px;
    }


    .history .item3
    {
        width: calc(100% - 840px);
    }


    .history .item4
    {
        width: calc(100% - 580px);
    }


    .history .item5
    {
        width: 560px;
        padding: 48px 40px;
    }


    .history .quote > .icon
    {
        width: 60px;
        height: 28px;
        margin-bottom: 28px;
    }


    .history .quote .text
    {
        font-size: 24px;
    }


    .history .quote .author
    {
        font-size: 18px;

        margin-top: 20px;
    }



    /*--------------
        Services
    --------------*/
    .services .head
    {
        padding: 40px 0;

        border-radius: 48px;
    }


    .services .head .block_head .title span
    {
        margin-top: 8px;
        margin-left: 100px;
    }


    .services .head .bg
    {
        width: 680px;
    }


    .services .list
    {
        padding: 48px 24px;

        border-radius: 48px;
    }


    .services .line
    {
        width: calc(100% - 100px);
        margin-top: 24px;
        margin-bottom: 60px;
    }


    .services .service
    {
        padding-left: 100px;
    }


    .services .service .number
    {
        font-size: 18px;
    }


    .services .service .name
    {
        width: calc(100% - 568px);
        min-height: 188px;
    }


    .services .service .arr .icon
    {
        width: 52px;
        height: 52px;
    }


    .services .service .col_right
    {
        width: 548px;
    }


    .services .service .desc
    {
        font-size: var(--font_size);

        padding-right: 120px;
    }


    .services .service .logos img
    {
        max-height: 32px;
    }



    /*---------------
        Solutions
    ---------------*/
    .solutions .solution .image
    {
        border-radius: 0 32px 32px 0;
    }


    .solutions .solution .image .tags
    {
        gap: 8px;
    }


    .solutions .solution .image .tags a
    {
        padding: 6px 18px;

        border-radius: 32px;
    }


    .solutions .solution .data
    {
        min-height: 904px;

        border-radius: 32px 0 0 32px;
    }


    .solutions .solution .title
    {
        font-size: 40px;
    }


    .solutions .solution .items
    {
        gap: 32px;
    }


    .solutions .solution .items .name
    {
        font-size: 20px;
    }


    .solutions .solution .items .desc
    {
        font-size: var(--font_size);
    }


    .solutions .solution .items .link a
    {
        width: 200px;

        border-radius: 32px;
    }



    /*----------------
        Order form
    ----------------*/
    .order_form .block_head .title span
    {
        margin-top: 8px;
        margin-left: 100px;
    }


    .order_form .links .title
    {
        font-size: 28px;
    }


    .order_form .links .items
    {
        font-size: 18px;

        border-radius: 32px;

        gap: 48px;
    }


    .order_form .links .items a
    {
        padding: 20px;

        border-radius: 32px;
    }


    .order_form .form_wrap
    {
        padding: 48px;

        border-radius: 48px;
    }


    .order_form .form
    {
        width: 960px;
    }



    /*------------
        Footer
    ------------*/
    footer
    {
        border-radius: 48px 0 0 0;
    }



    /*-----------
        PopUp
    -----------*/
    .modal
    {
        padding: 48px;

        border-radius: 48px;
    }


    .modal_title
    {
        font-size: 40px;
    }


    .modal_desc
    {
        font-size: 16px;

        width: 468px;
    }


    .modal .form
    {
        margin-top: 60px;
    }
}
