@media (max-width: 479px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size: 14px;
        --font_size_title: 24px;
        --font_size_title_small: 20px;
    }


    .block
    {
        margin-bottom: 40px;
    }


    .cont
    {
        padding: 0 16px;
    }



    /*--------------
        Fancybox
    --------------*/
    .fancybox__slide
    {
        padding: 16px;
    }



    /*---------------
        Accordion
    ---------------*/
    .accordion_item + .accordion_item
    {
        margin-top: 12px;
    }


    .accordion_item .head
    {
        padding: 12px 48px 12px 0;
    }


    .accordion_item .head .title
    {
        font-size: 16px;
    }


    .accordion_item .head .icon
    {
        width: 20px;
        height: 20px;
    }



    /*-----------------
        Mob. header
    -----------------*/
    .mob_header .cont
    {
        min-height: 55px;
    }


    .mob_header .logo img
    {
        height: 30px;
    }


    .mob_header .langs .btn
    {
        font-size: var(--font_size);
    }


    .mob_header .langs .btn .icon
    {
        width: 9px;
        height: 6px;
    }


    .mob_header .mob_menu_btn
    {
        width: 20px;
        height: 20px;
        margin-left: 24px;
    }

    .mob_header .mob_menu_btn .icon
    {
        width: 20px;
        height: 20px;
    }



    /*---------------
        Mob. menu
    ---------------*/
    .mob_menu
    {
        top: 55px;
    }


    .mob_menu .menu
    {
        font-size: 18px;
    }


    .mob_menu .links
    {
        margin-top: 20px;
    }


    .mob_menu .links .label
    {
        font-size: 12px;
        font-weight: 400;
    }


    .mob_menu .links .items
    {
        font-size: 12px;
    }


    .mob_menu .contacts
    {
        font-size: 10px;

        margin-top: 20px;
    }


    .mob_menu .order_btn
    {
        font-size: 12px;

        margin-top: 20px;
    }



    /*---------------
        Page head
    ---------------*/
    .page_head,
    .page_head.middle_m,
    .page_head.big_m
    {
        margin-bottom: 40px;
        padding-top: 16px;
    }


    .breadcrumbs
    {
        display: none;
    }


    .page_title .span2
    {
        margin-left: 44px;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head
    {
        margin-bottom: 20px;
    }


    .block_head .sub_title
    {
        font-size: 18px;

        width: 304px;
        margin-top: 16px;
    }


    .block_head .all_link a
    {
        width: 211px;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block
    {
        font-size: var(--font_size);
    }


    .text_block > *
    {
        margin-bottom: 16px;
    }



    /*------------------
        Form elements
    ------------------*/
    .form .columns > *.width1of4
    {
        width: calc(100% - var(--form_columns_offset));
    }


    .form .line
    {
        margin-bottom: 16px;
    }


    .form .submit_btn
    {
        font-size: var(--font_size);

        height: 32px;
    }


    .form .submit_btn .icon
    {
        width: 8px;
        height: 11px;
    }


    .form .submit_btn .icon + .icon
    {
        margin-left: -12px;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section .img
    {
        top: 8px;

        width: 194px;
    }


    .first_section .title
    {
        font-size: 24px;
    }


    .first_section .title .order_btn
    {
        width: 166px;
        height: 24px;
    }


    .first_section .desc
    {
        top: 198px;
        left: 16px;
    }



    /*----------------
        Advantages
    ----------------*/
    .advantages .block_head
    {
        margin-bottom: 16px;
        padding-bottom: 8px;
    }


    .advantages .item .name
    {
        font-size: 18px;
    }


    .advantages .item .link
    {
        margin-top: 2px;
    }


    .advantages .item .link a
    {
        width: 168px;
        padding: 7px;
    }



    /*----------------
        About info
    ----------------*/
    .about_info
    {
        margin-top: -8px;
    }


    .about_info .data .title
    {
        width: 233px;
    }


    .about_info .data .desc
    {
        width: 233px;
    }



    .about_info .link
    {
        min-height: 100px;
        padding: 16px;
    }


    .about_info .link .name
    {
        font-size: 18px;

        margin-bottom: 16px;
    }


    .about_info .link .logos img
    {
        max-height: 24px;
    }


    .about_info .link .btn
    {
        width: 168px;
        padding: 8px;
    }



    /*-------------
        Stories
    -------------*/
    .stories .tabs .btn
    {
        height: 44px;
        padding: 12px 16px;

        border-radius: 8px 8px 0 0;
    }


    .stories .tab_content.active
    {
        padding-top: 16px;
        padding-bottom: 32px;

        border-radius: 0 0 16px 16px;
    }


    .stories .grid
    {
        width: calc(100% + 32px);
        margin-right: -16px;
        margin-left: -16px;
    }


    .stories .grid .item1
    {
        padding: 16px;
    }


    .stories .grid .item1 .title
    {
        font-size: 18px;
    }


    .stories .grid .item1 .link a
    {
        width: 168px;
        padding: 7px;
    }


    .stories .grid .item2
    {
        width: 183px;
        padding: 16px;
    }


    .stories .grid .item3
    {
        width: calc(100% - 193px);
        height: 110px;
    }


    .stories .grid .item4
    {
        height: 110px;
    }


    .stories .grid .item5
    {
        padding: 16px;
    }


    .stories .grid .item6
    {
        padding: 16px;
    }


    .stories .grid .item6 .title
    {
        font-size: 18px;
    }


    .stories .grid .item6 .link a
    {
        width: 168px;
        padding: 7px;
    }


    .stories .grid .quote .icon
    {
        width: 29px;
        height: 13px;
    }


    .stories .grid .quote .text
    {
        font-size: 16px;
    }


    .stories .grid .quote .author
    {
        font-size: 16px;
    }


    .stories .grid .item5 .link a
    {
        width: 168px;
        padding: 7px;
    }



    /*--------------
        Services
    --------------*/
    .services .head .bg
    {
        right: -80px;
        bottom: -20px;
    }


    .services .list
    {
        padding: 16px 0;
    }


    .services .line
    {
        margin-bottom: 24px;
    }


    .services .service .logos img
    {
        max-height: 18px;
    }



    /*---------------
        Solutions
    ---------------*/
    .solutions .list
    {
        width: calc(100% + 32px);
        margin-right: -16px;
        margin-left: -16px;
    }


    .solutions .solution .image
    {
        padding: 24px 16px;
    }


    .solutions .solution .data
    {
        padding: 24px 16px;
    }


    .solutions .solution .title
    {
        font-size: 24px;
    }


    .solutions .solution .items .link a
    {
        width: 168px;
    }


    .solutions .solution .btn
    {
        width: 211px;
        height: 33px;
    }



    /*----------------
        Order form
    ----------------*/
    .order_form .block_head.margin
    {
        margin-bottom: 28px;
    }


    .order_form .block_head
    {
        margin-bottom: 8px;
    }


    .order_form .block_head .title
    {
        font-size: 22px;
    }


    .order_form .block_head .title span
    {
        margin-top: 0;
        margin-left: 32px;
    }


    .order_form .links .items
    {
        font-size: 12px;
    }


    .order_form .links .items a
    {
        padding: 4px 8px;

        white-space: nowrap;
    }


    .order_form .form_wrap
    {
        width: calc(100% + 32px);
        margin-right: -16px;
        margin-left: -16px;
        padding: 24px 32px;
    }



    /*------------------
        Terms of use
    ------------------*/
    .terms_of_use .page_title span
    {
        margin-left: 129px;
    }


    .terms_of_use .contacts
    {
        font-size: 16px;
    }


    .terms_of_use .section + .section
    {
        margin-top: 32px;
    }


    .terms_of_use .section .title
    {
        margin-bottom: 20px;
    }


    .terms_of_use .bg
    {
        top: -32px;

        width: 220px;
        margin-right: -328px;
    }



    /*----------------
        Error info
    ----------------*/
    .error_info .cont
    {
        padding-bottom: 132px;
    }


    .error_info .title
    {
        width: 341px;
    }


    .error_info .code
    {
        margin-right: -168px;
    }


    .error_info .bg
    {
        top: 0;
        left: 68px;

        width: 260px;
    }



    /*-----------------------
        Zoom presentation
    -----------------------*/
    .zoom_presentation .btn
    {
        width: 343px;
        height: 38px;
    }



    /*-------------
        Stories
    -------------*/
    .stories .head
    {
        padding: 12px 0;
    }


    .stories .head .count
    {
        font-size: 10px;
    }


    .stories .head .cooperation_btn
    {
        width: 221px;
    }


    .stories .list
    {
        padding: 24px 0;
    }



    /*--------------------
        Vacancies head
    --------------------*/
    .vacancies_head
    {
        margin-bottom: 40px;

        border-radius: 0 0 30px 30px;
    }


    .vacancies_head .text
    {
        padding: 16px;
    }


    .vacancies_head .accredited
    {
        padding: 16px;
    }



    /*---------------
        Join team
    ---------------*/
    .join_team .block_head .title span
    {
        margin-left: 152px;
    }



    /*---------------
        Vacancies
    ---------------*/
    .vacancies .categories .btn
    {
        padding: 3px 11px;
    }


    .vacancies .vacancy .name
    {
        font-size: 16px;
    }



    .vacancies .all_link a
    {
        padding: 12px 28px;
    }



    /*------------
        Career
    ------------*/
    .career
    {
        margin-bottom: 40px;
    }


    .career .empty .title
    {
        font-size: 18px;
    }


    .career .empty .link a
    {
        padding: 8px 28px;
    }



    .career .bg
    {
        top: -60px;

        width: 136px;
        margin-right: -224px;
    }



    /*------------------
        Vacancy info
    ------------------*/
    .vacancy_info .data .title
    {
        font-size: 16px;

        margin-bottom: 16px;
    }


    .vacancy_info .data .btns
    {
        margin-top: 16px;
    }



    .vacancy_info .row
    {
        margin-bottom: -32px;
    }


    .vacancy_info .row > *,
    .vacancy_info .row > *.big
    {
        margin-bottom: 32px;
    }


    .vacancy_info .item .items
    {
        gap: 8px;
    }



    /*------------------
        Service head
    ------------------*/
    .service_head .page_head
    {
        margin-bottom: 40px;
    }


    .service_head .data .title
    {
        font-size: 16px;
    }



    /*--------------------
        Service brands
    --------------------*/
    .service_brands .row > *
    {
        width: calc(50% - 10px);
    }


    .service_brands .item
    {
        padding: 30px;
    }



    /*------------------------
        Service principles
    ------------------------*/
    .service_principles .block_head .title span
    {
        margin-left: 92px;
    }



    /*----------------------
        Service projects
    ----------------------*/
    .service_projects .block_head .title span
    {
        margin-left: 92px;
    }


    .service_projects .project .logo
    {
        width: 122px;
        height: 30px;
    }


    .service_projects .project .image
    {
        margin-top: 12px;
        padding: 16px;

        gap: 16px;
    }


    .service_projects .project .tags .items
    {
        gap: 8px;
    }


    .service_projects .project .tags .items > *
    {
        padding: 3px 15px;
    }


    .service_projects .project .btns
    {
        margin-top: 12px;
    }


    .service_projects .all_link a
    {
        font-size: var(--font_size);

        width: 280px;
        padding: 12px;
    }



    /*------------------
        Technologies
    ------------------*/
    .technologies .block_head
    {
        margin-bottom: 24px;
    }


    .technologies .block_head .title span
    {
        margin-left: 92px;
    }


    .technologies .row
    {
        gap: 10px;
    }


    .technologies .row > *
    {
        font-size: var(--font_size);

        padding: 4px 14px;
    }



    /*------------
        Footer
    ------------*/
    footer .logo img
    {
        height: 25px;
    }


    footer .socials
    {
        right: 16px;
    }


    footer .socials .icon
    {
        width: 24px;
        height: 24px;
    }



    /*-----------
        PopUp
    -----------*/
    .modal
    {
        padding: 40px 16px;

        border-radius: 30px;
    }


    .modal_title
    {
        font-size: 24px;

        padding-right: 60px;
    }
}
