@media print,
(max-width: 1899px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size: 15px;
        --font_size_title: 68px;
        --font_size_title_small: 52px;
    }



    .block
    {
        margin-bottom: 100px;
    }


    .cont
    {
        padding: 0 24px;
    }



    /*--------------
        Fancybox
    --------------*/
    .fancybox__content > .f-button.is-close-btn,
    .is-compact .fancybox__content > .f-button.is-close-btn
    {
        top: 48px;
        right: 48px;

        --f-button-width: 40px;
        --f-button-height: 40px;
        --f-button-svg-width: 40px;
        --f-button-svg-height: 40px;
    }



    /*----------------
        Pagination
    ----------------*/
    .pagination
    {
        padding: 32px 0;
    }


    .pagination a,
    .pagination .sep
    {
        font-size: 20px;
    }


    .pagination .prev
    {
        margin-right: 20px;
    }

    .pagination .next
    {
        margin-left: 20px;
    }


    .pagination .prev .icon,
    .pagination .next .icon
    {
        width: 13px;
        height: 17px;
    }



    /*------------
        Header
    ------------*/
    header .cont
    {
        min-height: 92px;
    }


    header .menu_item > a
    {
        font-size: var(--font_size);

        padding: 8px 11px;

        gap: 8px;
    }


    header .menu_item > a .arr
    {
        top: 1px;

        width: 11px;
        height: 7px;
    }


    header .sub_menu
    {
        padding: 40px 48px;
    }


    header .sub_menu .info
    {
        width: 380px;
    }


    header .sub_menu .title
    {
        font-size: 20px;
    }


    header .sub_menu .info .desc
    {
        font-size: 16px;
    }


    header .sub_menu .info .all_link
    {
        margin-top: 28px;
    }


    header .sub_menu .info .all_link a
    {
        font-size: 18px;

        padding: 15px;

        border-width: 2px;
        border-radius: 40px;
    }


    header .sub_menu .links,
    header .sub_menu .contacts
    {
        width: calc(100% - 404px);
    }


    header .sub_menu .links .title,
    header .sub_menu .contacts .title
    {
        padding-left: 48px;
    }


    header .sub_menu .links .items
    {
        font-size: 16px;

        padding-left: 48px;

        gap: 20px;
    }


    header .sub_menu .contacts .phone,
    header .sub_menu .contacts .email,
    header .sub_menu .contacts .address
    {
        font-size: 16px;

        padding-left: 48px;
    }


    header .sub_menu .contacts .email,
    header .sub_menu .contacts .address
    {
        margin-top: 20px;
    }



    header .langs .btn
    {
        font-size: var(--font_size);
    }


    header .langs .btn .icon
    {
        width: 11px;
        height: 7px;
    }



    header .order_btn
    {
        width: 177px;
    }



    /*---------------
        Page head
    ---------------*/
    .page_head
    {
        margin-bottom: 68px;
    }

    .page_head.middle_m
    {
        margin-bottom: 48px;
    }

    .page_head.big_m
    {
        margin-bottom: 100px;
    }


    .page_head .back
    {
        font-size: 16px;
    }


    .page_title
    {
        font-size: 100px;

        gap: 10px;
    }


    .page_title .span2
    {
        margin-left: 272px;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head .all_link a
    {
        font-size: 18px;

        width: 440px;
        padding: 16px;
    }


    .block_head .sub_title
    {
        font-size: 40px;

        width: 760px;
        margin-top: 40px;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block
    {
        font-size: 24px;
    }


    .text_block > *
    {
        margin-bottom: 28px;
    }



    /*------------------
        Form elements
    ------------------*/
    .form .file label
    {
        font-size: 20px;
    }


    .form .file label div
    {
        gap: 16px;
    }


    .form .agree
    {
        font-size: var(--font_size);
    }


    .form .submit
    {
        padding-top: 40px;
    }


    .form .submit_btn
    {
        font-size: 20px;

        height: 60px;

        border-radius: 40px;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section
    {
        padding-top: 100px;

        border-radius: 0 0 60px 60px;
    }


    .first_section .img
    {
        left: 24px;

        width: 584px;
        margin-left: 0;
    }


    .first_section .pluses
    {
        margin-bottom: 48px;
    }


    .first_section .pluses .item:nth-child(1)
    {
        width: 252px;
    }

    .first_section .pluses .item:nth-child(2)
    {
        width: 192px;
    }

    .first_section .pluses .item:nth-child(3)
    {
        width: 151px;
    }


    .first_section .pluses .val
    {
        font-size: 48px;
    }


    .first_section .pluses .name
    {
        font-size: var(--font_size);
    }


    .first_section .title
    {
        font-size: 100px;

        gap: 8px;
    }


    .first_section .desc
    {
        font-size: 24px;

        bottom: 40px;
        left: 24px;

        width: 456px;
        margin-left: 0;
    }



    /*----------------
        Advantages
    ----------------*/
    .advantages
    {
        border-radius: 60px;
    }


    .advantages .item .name
    {
        font-size: 24px;
    }


    .advantages .item .desc
    {
        font-size: 16px;
    }


    .advantages .item .link a
    {
        font-size: var(--font_size);

        padding: 14px 50px;
    }



    /*----------------
        About info
    ----------------*/
    .about_info .data
    {
        padding: 40px;

        border-radius: 40px;

        gap: 12px;
    }


    .about_info .data .title
    {
        width: 504px;
    }


    .about_info .data .desc
    {
        font-size: 18px;

        width: 504px;
    }


    .about_info .data .desc div
    {
        width: 400px;
    }


    .about_info .data .bg
    {
        width: 500px;
    }



    .about_info .link
    {
        min-height: 240px;
        padding: 28px 28px 28px 36px;

        border-radius: 40px;
    }


    .about_info .link .name
    {
        font-size: 32px;
    }


    .about_info .link .logos
    {
        gap: 24px;
    }


    .about_info .link .logos img
    {
        max-height: 40px;
    }


    .about_info .link .btn
    {
        font-size: var(--font_size);

        right: 28px;
        bottom: 28px;

        padding: 14px 48px;
    }



    /*-------------
        Stories
    -------------*/
    .stories .tabs .btn
    {
        height: 100px;
        padding: 0 24px;
    }


    .stories .tab_content.active
    {
        padding-bottom: 64px;

        border-radius: 0 0 40px 40px;
    }


    .stories .grid .item
    {
        border-radius: 40px;
    }


    .stories .grid .item1
    {
        width: 560px;
        padding: 28px;

        gap: 20px;
    }


    .stories .grid .item1 .title
    {
        font-size: 26px;
    }


    .stories .grid .item1 .desc
    {
        font-size: 16px;

        width: 368px;
    }


    .stories .grid .item1 .link a
    {
        font-size: var(--font_size);

        width: 200px;
    }


    .stories .grid .item2
    {
        width: 360px;
        padding: 40px;
    }


    .stories .grid .item3
    {
        width: calc(100% - 960px);
    }


    .stories .grid .item4
    {
        width: calc(100% - 620px);
    }


    .stories .grid .item5
    {
        width: 600px;
        padding: 52px 40px;
    }


    .stories .grid .quote > .icon
    {
        width: 63px;
        height: 30px;
        margin-bottom: 32px;
    }


    .stories .grid .quote .text
    {
        font-size: 26px;
    }


    .stories .grid .quote .author
    {
        font-size: 20px;
    }



    /*--------------
        Services
    --------------*/
    .services .head
    {
        border-radius: 60px;
    }


    .services .head .block_head .title span
    {
        margin-top: 12px;
        margin-left: 124px;
    }


    .services .head .bg
    {
        width: 824px;
    }


    .services .list
    {
        padding: 60px 24px;

        border-radius: 60px;
    }


    .services .line
    {
        width: calc(100% - 132px);
        height: 2px;
        margin-top: 28px;
        margin-bottom: 80px;
    }


    .services .service
    {
        padding-left: 132px;
    }


    .services .service .number
    {
        font-size: 20px;
    }


    .services .service .name
    {
        width: calc(100% - 620px);
        min-height: 208px;
    }


    .services .service .arr
    {
        width: 60px;
        height: 60px;
    }


    .services .service .arr .icon
    {
        width: 16px;
        height: 22px;
    }


    .services .service .col_right
    {
        width: 600px;

        gap: 40px;
    }


    .services .service .desc
    {
        font-size: 18px;

        padding-right: 140px;
    }


    .services .service .logos
    {
        gap: 40px;
    }


    .services .service .logos img
    {
        max-height: 36px;
    }



    /*---------------
        Solutions
    ---------------*/
    .solutions .list
    {
        width: calc(100% + 48px);
        margin-right: -24px;
        margin-left: -24px;
    }


    .solutions .solution .image
    {
        width: calc(50% - 10px);
        padding: 40px 40px 40px 24px;

        border-radius: 0 40px 40px 0;
    }


    .solutions .solution .image .tags
    {
        gap: 12px;
    }


    .solutions .solution .image .tags > *
    {
        font-size: var(--font_size);
    }


    .solutions .solution .image .tags a
    {
        padding: 6px 26px;

        border-radius: 40px;
    }


    .solutions .solution .data
    {
        width: calc(50% - 10px);
        min-height: 960px;
        padding: 40px 24px 40px 40px;

        border-radius: 40px 0 0 40px;
    }


    .solutions .solution .title
    {
        font-size: 44px;
    }


    .solutions .solution .items
    {
        margin-bottom: 0;

        gap: 40px;
    }


    .solutions .solution .item
    {
        width: 540px;

        gap: 12px;
    }


    .solutions .solution .items .name
    {
        font-size: 24px;
    }


    .solutions .solution .items .desc
    {
        font-size: 16px;
    }


    .solutions .solution .items .link a
    {
        font-size: var(--font_size);

        width: 232px;
        height: 40px;

        border-radius: 40px;
    }


    .solutions .solution .btn
    {
        font-size: 18px;

        height: 60px;

        border-radius: 40px;
    }



    /*----------------
        Order form
    ----------------*/
    .order_form .block_head
    {
        margin-bottom: 32px;
    }


    .order_form .block_head .title span
    {
        margin-top: 12px;
        margin-left: 124px;
    }


    .order_form .links
    {
        margin-bottom: 32px;
    }


    .order_form .links .title
    {
        font-size: 32px;
    }


    .order_form .links .items
    {
        font-size: 20px;

        border-radius: 40px;

        gap: 60px;
    }


    .order_form .links .items a
    {
        padding: 24px;

        border-radius: 40px;
    }


    .order_form .form_wrap
    {
        padding: 60px;

        border-radius: 60px;
    }


    .order_form .form
    {
        width: 1060px;
    }



    /*------------------
        Terms of use
    ------------------*/
    .terms_of_use .page_title span
    {
        margin-left: 480px;
    }


    .terms_of_use .data
    {
        max-width: calc(100% - 240px);
        margin-left: 240px;
    }


    .terms_of_use .section + .section
    {
        margin-top: 68px;
    }


    .terms_of_use .section .title
    {
        margin-bottom: 28px;
    }


    .terms_of_use .contacts
    {
        gap: 28px;
    }


    .terms_of_use .bg
    {
        top: -40px;

        width: 500px;
        margin-right: -860px;
    }


    .terms_of_use .bg2
    {
        left: -180px;

        width: 400px;
        margin-left: 0;
    }



    /*----------------
        Error info
    ----------------*/
    .error_info .cont
    {
        padding-top: 200px;
        padding-bottom: 280px;
    }


    .error_info .title
    {
        width: 1060px;

        gap: 21px;
    }


    .error_info .title .link
    {
        font-size: 20px;

        height: 64px;
        padding: 0 40px;
    }


    .error_info .code
    {
        top: 112px;

        margin-right: -532px;
    }


    .error_info .code .label
    {
        font-size: 36px;
    }


    .error_info .code .val
    {
        font-size: 136px;
    }


    .error_info .bg
    {
        width: 620px;
    }



    /*-----------------------
        Zoom presentation
    -----------------------*/
    .zoom_presentation .btn
    {
        font-size: 20px;

        width: 440px;
        height: 68px;
        margin-top: 0;
    }



    /*-------------
        Stories
    -------------*/
    .stories:not(.block)
    {
        margin-bottom: 60px;
    }


    .stories .head
    {
        padding: 28px 0;
    }


    .stories .head .count
    {
        font-size: 18px;

        margin-left: 24px;
    }


    .stories .head .cooperation_btn
    {
        font-size: 16px;

        width: 360px;
        height: 44px;
    }


    .stories .list
    {
        padding: 48px 0 80px;
    }


    .stories .list .item
    {
        min-height: 440px;
        padding: 32px;
    }


    .stories .list .item .pre_title
    {
        font-size: 16px;
    }


    .stories .list .item .name
    {
        font-size: 22px;
    }


    .stories .list .item .desc
    {
        font-size: var(--font_size);

        margin-top: 8px;
    }


    .stories .list .item .link
    {
        margin-top: 24px;
    }


    .stories .list .item .link a
    {
        font-size: var(--font_size);
    }



    /*----------------
        Story info
    ----------------*/
    .story_info .head
    {
        border-radius: 0 0 60px 60px;
    }


    .story_info .data
    {
        padding: 52px 0;

        border-radius: 60px;
    }


    .story_info .data .logo
    {
        width: 380px;
        height: 80px;
    }


    .story_info .data .features > *
    {
        font-size: 22px;

        padding: 12px 24px;

        border-radius: 40px;
    }


    .story_info .data .features > *.fixed_w
    {
        width: 320px;
    }


    .story_info .data .title
    {
        margin-top: 52px;
        padding-bottom: 28px;

        border-width: 2px;
    }


    .story_info .data .desc
    {
        font-size: 22px;

        margin-top: 28px;
    }


    .story_info .quote > div
    {
        width: 624px;
    }


    .story_info .quote .icon
    {
        width: 64px;
        height: 30px;
        margin-bottom: 28px;
    }


    .story_info .quote .text
    {
        font-size: 30px;
    }


    .story_info .quote .author
    {
        font-size: 22px;

        margin-top: 28px;
    }


    .story_info .quote .post
    {
        font-size: 18px;

        margin-top: 8px;
    }


    .story_info .quote .image
    {
        width: calc(100% - 648px);
        margin-right: -24px;

        border-radius: 40px 0 0 40px;
    }



    .story_info .info .name
    {
        font-size: 32px;
    }


    .story_info .info .items
    {
        font-size: 24px;

        gap: 16px;
    }


    .story_info .info .items .icon
    {
        top: 12px;
    }



    .story_info .download a
    {
        font-size: 30px;

        width: 640px;
        padding: 20px;

        border-radius: 40px;

        gap: 24px;
    }


    .story_info .download .icon
    {
        width: 13px;
        height: 17px;
    }



    /*--------------------
        Vacancies head
    --------------------*/
    .vacancies_head
    {
        min-height: 600px;
        margin-bottom: 68px;
        padding-top: 0;
        padding-bottom: 52px;

        border-radius: 0 0 68px 68px;
    }


    .vacancies_head .text
    {
        font-size: 24px;

        width: calc(100% - 644px);
        padding: 28px;

        border-radius: 40px;
    }


    .vacancies_head .accredited
    {
        width: 620px;
        padding: 28px;

        border-radius: 40px;
    }


    .vacancies_head .accredited .title
    {
        font-size: 24px;

        width: 424px;
    }


    .vacancies_head .accredited .logos
    {
        margin-top: 40px;

        gap: 12px;
    }


    .vacancies_head .accredited .logos img
    {
        height: 32px;
    }


    .vacancies_head .accredited .logos > * + * img
    {
        height: 31px;
    }


    .vacancies_head .accredited .link
    {
        font-size: var(--font_size);

        right: 28px;
        bottom: 28px;

        width: 260px;
        height: 44px;
    }



    /*---------------
        Join team
    ---------------*/
    .join_team .block_head .title
    {
        gap: 8px;
    }


    .join_team .block_head .title span
    {
        margin-left: 480px;
    }


    .join_team .item
    {
        min-height: 280px;
        padding: 24px;

        border-radius: 40px;
    }


    .join_team .item .icon
    {
        height: 68px;
        margin-bottom: 24px;
    }


    .join_team .item .name
    {
        font-size: 20px;
    }


    .join_team .item .desc
    {
        font-size: 18px;
    }



    /*---------------
        Vacancies
    ---------------*/
    .vacancies .categories
    {
        margin-bottom: 40px;
    }


    .vacancies .categories .btn
    {
        font-size: 16px;

        padding: 8px 20px;

        border-radius: 24px;
    }


    .vacancies .list
    {
        gap: 28px;
    }


    .vacancies .vacancy .info
    {
        width: calc(100% - 288px);

        gap: 20px;
    }


    .vacancies .vacancy .name
    {
        font-size: 32px;
    }


    .vacancies .vacancy .tags > *
    {
        font-size: 20px;

        min-width: 132px;
        padding: 8px;
    }


    .vacancies .vacancy .btns
    {
        width: 248px;

        gap: 20px;
    }


    .vacancies .vacancy .btns .btn
    {
        font-size: 16px;

        height: 44px;
    }



    /*------------
        Career
    ------------*/
    .career
    {
        margin-bottom: 68px;
    }


    .career .empty .title
    {
        font-size: 32px;

        margin-bottom: 28px;
    }


    .career .empty .link a
    {
        font-size: 20px;

        padding: 16px 119px;

        border-radius: 40px;
    }


    .career .empty .socials
    {
        gap: 24px;
    }


    .career .empty .socials .icon
    {
        width: 56px;
        height: 56px;
    }



    .career .bg
    {
        top: -148px;

        width: 480px;
        margin-right: -780px;
    }



    /*------------
        Footer
    ------------*/
    footer
    {
        padding: 48px 0;

        border-radius: 40px 0 0 0;
    }


    footer .col
    {
        gap: 32px;
    }


    footer .links .title
    {
        font-size: 20px;
    }


    footer .links .items
    {
        font-size: var(--font_size);

        gap: 8px;
    }


    footer .contacts .phone,
    footer .contacts .address
    {
        font-size: 20px;
    }


    footer .socials .icon
    {
        width: 44px;
        height: 44px;
    }


    footer .copyright,
    footer .bottom_links
    {
        font-size: var(--font_size);
    }


    footer .bottom_links
    {
        gap: 4px;
    }



    /*-----------
        PopUp
    -----------*/
    .modal
    {
        padding: 60px;

        border-radius: 60px;
    }


    .modal_title
    {
        font-size: 48px;
    }


    .modal_desc
    {
        font-size: 18px;

        width: 528px;
    }


    .modal .form
    {
        margin-top: 68px;
    }


    .modal .form .submit
    {
        padding-top: 20px;
    }
}
